/**************************************************************************
 * Addon bar button hover borders like Netscape
 * By: Michael Walden
 **/
#addon-bar .toolbarbutton-1:not([disabled]),
#addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]) {
  background-image: none !important;
  border: 2px solid !important;
  -moz-border-top-colors:    ThreeDShadow    transparent !important;
  -moz-border-right-colors:  ThreeDHighlight transparent !important;
  -moz-border-bottom-colors: ThreeDHighlight transparent !important;
  -moz-border-left-colors:   ThreeDShadow    transparent !important;
}
#addon-bar .toolbarbutton-1:not([disabled]):hover,
#addon-bar .toolbarbutton-1[open],
#addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover {
  background-image: none !important;
  border: 2px solid !important;
  -moz-border-top-colors:    ThreeDDarkShadow ThreeDHighlight !important;
  -moz-border-right-colors:  ThreeDDarkShadow ThreeDShadow    !important;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow    !important;
  -moz-border-left-colors:   ThreeDDarkShadow ThreeDHighlight !important;
}
#addon-bar .toolbarbutton-1:not([disabled]):hover:active,
#addon-bar .toolbarbutton-1[open]:active,
#addon-bar .toolbarbutton-1 > .toolbarbutton-menubutton-button:not([disabled]):hover:active {
  background-image: none !important;
  border: 2px solid !important;
  -moz-border-top-colors:    ThreeDDarkShadow ThreeDShadow    !important;
  -moz-border-right-colors:  ThreeDDarkShadow ThreeDHighlight !important;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight !important;
  -moz-border-left-colors:   ThreeDDarkShadow ThreeDShadow    !important;
}
