/**************************************************************************
 * Skin the bookmarks menu button
 * By: Michael Walden
 **/
 
/* Bookmarks menu button */
#bookmarks-menu-button {
 list-style-image: url("chrome://browser/skin/moonscape/img/bookmark-menu-17.png") !important;
 -moz-image-region: rect( 0px 32px 17px 0px) !important;  /* Normal */
}
/* Bookmarks menu button, hover */
#bookmarks-menu-button:hover {
 -moz-image-region: rect(34px 32px 51px 0px) !important;  /* Hover */
}
/* Bookmarks menu button, active */
#bookmarks-menu-button[checked="true"],
#bookmarks-menu-button[open="true"] {
 -moz-image-region: rect( 0px 32px 17px 0px) !important;  /* Normal */
}
#bookmarks-menu-button:hover:active {
 -moz-image-region: rect(51px 32px 68px 0px) !important;  /* Depressed */
}
#bookmarks-menu-button[disabled="true"] {
 -moz-image-region: rect(17px 32px 34px 0px) !important;  /* Disabled */
}
/* Personal tool bar special case */
#PersonalToolbar #bookmarks-menu-button.bookmark-item {
  -moz-box-orient: horizontal !important;
}
/* Show full size icon on personal bookmarks bar */
#PersonalToolbar #bookmarks-menu-button > .toolbarbutton-icon {
 width: 32px !important;
 height: 17px !important;
}

/* vvvvvvvvvvvvvvvvv NOT USED vvvvvvvvvvvvvvvvv */
/* Bookmarks menu button - SMALL */
toolbar[iconsize="small"] #bookmarks-menu-button {
  -moz-image-region: rect(0px 128px 16px 112px);
}
/* Bookmarks menu button, hover+active */
toolbar[iconsize="small"] #bookmarks-menu-button:hover,
toolbar[iconsize="small"] #bookmarks-menu-button[checked="true"],
toolbar[iconsize="small"] #bookmarks-menu-button[open="true"] {
  -moz-image-region: rect(16px 128px 32px 112px);
}
toolbar[iconsize="small"] #bookmarks-menu-button.bookmark-item {
  list-style-image: url("chrome://browser/skin/themed-Toolbar-small.png");
}
toolbar[iconsize="small"] #bookmarks-menu-button.toolbarbutton-1 {
  -moz-box-orient: horizontal;
}
/* ^^^^^^^^^^^^^^^^^ NOT USED ^^^^^^^^^^^^^^^^^ */

/*-------------------------------------------------------------------------
 * Remove bookmarks menu button dropmarker
 * By: Michael Walden
 **/
#bookmarks-menu-button > .toolbarbutton-menu-dropmarker {
 display: none !important;
}
/*-------------------------------------------------------------------------
 * Bookmarks menu button - full height icon when icons are large
 * By: Michael Walden
 **/
/* #nav-bar #bookmarks-menu-button .toolbarbutton-icon { */
toolbar[iconsize="large"][mode="full"] #bookmarks-menu-button .toolbarbutton-icon {
  padding-top: 4px !important;
  padding-bottom: 3px !important;
}
/* remove vertical padding on menu bar */
#toolbar-menubar #bookmarks-menu-button .toolbarbutton-icon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*-------------------------------------------------------------------------
 * Bookmarks menu button - text below icon on navigation toolbar
 * By: Michael Walden
 **/
#nav-bar #bookmarks-menu-button {
  -moz-box-orient: vertical !important;
}
/*-------------------------------------------------------------------------
 * Show bookmarks menu button even when menu bar is visible
 * By: Michael Walden
 **/
#bookmarks-menu-button,
#bookmarks-menu-button-container {
 display: -moz-box !important;
}
/*
#toolbar-menubar:not([autohide="true"]) ~ #nav-bar > #bookmarks-menu-button-container,
#toolbar-menubar:not([autohide="true"]) ~ toolbar > #personal-bookmarks > #bookmarks-menu-button,
#toolbar-menubar:not([autohide="true"]) > #personal-bookmarks > #bookmarks-menu-button {
 display: -moz-box !important;
}
*/
