/**************************************************************************
 * Skin the alltabs button
 * By: Michael Walden
 **/

#alltabs-button {
 -moz-appearance: toolbarbutton !important;
}

/* List style image and region for large alltabs icon */
#alltabs-button {
  list-style-image: url("chrome://subskins/skin/img/ToolbarAlltabs.png") !important;
  -moz-image-region: rect(0px, 24px, 24px, 0px) !important;
}
/* Large alltabs icon, hover */
#alltabs-button:hover,
#alltabs-button[open="true"] {
  -moz-image-region: rect(24px, 24px, 48px, 0px) !important;
}
/* Large alltabs icon, active */
#alltabs-button:hover:active,
#alltabs-button[open="true"] {
  -moz-image-region: rect(72px, 24px, 96px, 0px) !important;
}

/* Small alltabs icon */
toolbar[iconsize="small"] #alltabs-button {
  list-style-image: url("chrome://subskins/skin/img/Toolbar-smallAlltabs.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
/* Small alltabs icon, hover */
toolbar[iconsize="small"] #alltabs-button:hover,
toolbar[iconsize="small"] #alltabs-button[open="true"] {
  -moz-image-region: rect(16px, 16px, 32px, 0px) !important;
}
/* Small alltabs icon, active */
toolbar[iconsize="small"] #alltabs-button:hover:active,
toolbar[iconsize="small"] #alltabs-button[open="true"] {
  -moz-image-region: rect(48px, 16px, 64px, 0px) !important;
}

/* No drop marker for alltabs icon */
#alltabs-button > .toolbarbutton-menu-dropmarker {
  display: none !important;
}

/* Drop-down icon (previews are disabled) */

/* Special case alltabs dropdown-arrow display in tabs toolbar */
#TabsToolbar #alltabs-button[type="menu"] {
  list-style-image: url("chrome://browser/skin/searchbar-dropdown-arrow.png") !important;
  -moz-image-region: rect(0, 13px, 11px, 0) !important;
}
/* Special case alltabs dropdown-arrow display in tabs toolbar, hover (same as non-hover) */
#TabsToolbar #alltabs-button[type="menu"]:hover {
  -moz-image-region: rect(0, 13px, 11px, 0) !important;
}
/* Special case alltabs dropdown-arrow display in tabs toolbar, active (glowing) */
#TabsToolbar #alltabs-button[type="menu"]:hover:active,
#TabsToolbar #alltabs-button[type="menu"][open="true"] {
  -moz-image-region: rect(0, 26px, 11px, 13px) !important;
}

/* Boxes icon (previews are enabled) */

/* Special case alltabs dropdown-arrow display in tabs toolbar */
#TabsToolbar #alltabs-button {
  list-style-image: url("chrome://subskins/skin/img/alltabs.png") !important;
  -moz-image-region: rect(0, 14px, 14px, 0) !important;
}
/* Special case alltabs dropdown-arrow display in tabs toolbar, hover (same as non-hover) */
#TabsToolbar #alltabs-button:hover {
  -moz-image-region: rect(0, 28px, 14px, 14px) !important;
}
/* Special case alltabs dropdown-arrow display in tabs toolbar, active (glowing) */
#TabsToolbar #alltabs-button:hover:active,
#TabsToolbar #alltabs-button[open="true"] {
  -moz-image-region: rect(0, 42px, 14px, 28px) !important;
}