/**************************************************************************
 * Skin the history menu button
 * By: Michael Walden
 * Edited for the history menu button by: FranklinDM
 **/
 
/* History menu button */
#history-menu-button {
 list-style-image: url("chrome://subskins/skin/img/history-menu-17.png") !important;
 -moz-image-region: rect( 0px 32px 20px 0px) !important;  /* Normal */
}
/* History menu button, hover */
#history-menu-button:hover {
 -moz-image-region: rect(20px 32px 40px 0px) !important;  /* Hover */
}
/* History menu button, active */
#history-menu-button[checked="true"],
#history-menu-button[open="true"] {
 -moz-image-region: rect(20px 32px 40px 0px) !important;  /* Hover */
}
#history-menu-button:hover:active {
 -moz-image-region: rect(60px 32px 80px 0px) !important;  /* Depressed */
}
#history-menu-button[disabled="true"] {
 -moz-image-region: rect(40px 32px 60px 0px) !important;  /* Disabled */
}
/* Personal tool bar special case */
#PersonalToolbar #history-menu-button {
  -moz-box-orient: horizontal !important;
}
/* Show full size icon on personal history bar */
#PersonalToolbar #history-menu-button > .toolbarbutton-icon {
 width: 32px !important;
 height: 17px !important;
}

/*-------------------------------------------------------------------------
 * Remove history menu button dropmarker
 * By: Michael Walden
 **/
#history-menu-button > .toolbarbutton-menu-dropmarker {
 display: none !important;
}
/*-------------------------------------------------------------------------
 * History menu button - full height icon when icons are large
 * By: Michael Walden
 **/
/* #nav-bar #history-menu-button .toolbarbutton-icon { */
toolbar[iconsize="large"][mode="full"] #history-menu-button .toolbarbutton-icon {
  padding-top: 4px !important;
  padding-bottom: 0px !important;
}
/* remove vertical padding on menu bar */
#toolbar-menubar #history-menu-button .toolbarbutton-icon {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
/*-------------------------------------------------------------------------
 * History menu button - text below icon on navigation toolbar
 * By: Michael Walden
 **/
#nav-bar #history-menu-button {
  -moz-box-orient: vertical !important;
}
/*-------------------------------------------------------------------------
 * Show history menu button even when menu bar is visible
 * By: Michael Walden
 **/
#history-menu-button,
#history-menu-button-container {
 display: -moz-box !important;
}