/**************************************************************************
 * Skin the tabview button
 * By: Michael Walden
 **/

/* tabview button (24px) ################################################### */
#tabview-button {
  list-style-image: url(chrome://browser/skin/moonscape/img/tabview-large.png) !important;
}
#tabview-button > image {
  margin: 0px !important;
}
#tabview-button[groups="0"] {
  -moz-image-region: rect(0,  24px, 24px,    0) !important;
}
#tabview-button[groups="1"] {
  -moz-image-region: rect(0,  48px, 24px, 24px) !important;
}
#tabview-button[groups="2"] {
  -moz-image-region: rect(0,  72px, 24px, 48px) !important;
}
#tabview-button[groups="3"] {
  -moz-image-region: rect(0,  96px, 24px, 72px) !important;
}
#tabview-button {
  -moz-image-region: rect(0, 120px, 24px, 96px) !important;
}

#tabview-button:hover[groups="0"] {
  -moz-image-region: rect(24px,  24px, 48px,    0) !important;
}
#tabview-button:hover[groups="1"] {
  -moz-image-region: rect(24px,  48px, 48px, 24px) !important;
}
#tabview-button:hover[groups="2"] {
  -moz-image-region: rect(24px,  72px, 48px, 48px) !important;
}
#tabview-button:hover[groups="3"] {
  -moz-image-region: rect(24px,  96px, 48px, 72px) !important;
}
#tabview-button:hover {
  -moz-image-region: rect(24px, 120px, 48px, 96px) !important;
}

#tabview-button:hover:active[groups="0"] {
  -moz-image-region: rect(48px,  24px, 72px,    0) !important;
}
#tabview-button:hover:active[groups="1"] {
  -moz-image-region: rect(48px,  48px, 72px, 24px) !important;
}
#tabview-button:hover:active[groups="2"] {
  -moz-image-region: rect(48px,  72px, 72px, 48px) !important;
}
#tabview-button:hover:active[groups="3"] {
  -moz-image-region: rect(48px,  96px, 72px, 72px) !important;
}
#tabview-button:hover:active {
  -moz-image-region: rect(48px, 120px, 72px, 96px) !important;
}

/* tabview button (18px) ################################################### */
toolbar[iconsize="small"] #tabview-button {
  list-style-image: url(chrome://browser/skin/moonscape/img/tabview.png) !important;
}
toolbar[iconsize="small"] #tabview-button > image {
  margin: 0px !important;
}
toolbar[iconsize="small"] #tabview-button[groups="0"] {
  -moz-image-region: rect(0, 18px, 18px,    0) !important;
}
toolbar[iconsize="small"] #tabview-button[groups="1"] {
  -moz-image-region: rect(0, 36px, 18px, 18px) !important;
}
toolbar[iconsize="small"] #tabview-button[groups="2"] {
  -moz-image-region: rect(0, 54px, 18px, 36px) !important;
}
toolbar[iconsize="small"] #tabview-button[groups="3"] {
  -moz-image-region: rect(0, 72px, 18px, 54px) !important;
}
toolbar[iconsize="small"] #tabview-button {
  -moz-image-region: rect(0, 90px, 18px, 72px) !important;
}

toolbar[iconsize="small"] #tabview-button:hover[groups="0"] {
  -moz-image-region: rect(18px, 18px, 36px,    0) !important;
}
toolbar[iconsize="small"] #tabview-button:hover[groups="1"] {
  -moz-image-region: rect(18px, 36px, 36px, 18px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover[groups="2"] {
  -moz-image-region: rect(18px, 54px, 36px, 36px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover[groups="3"] {
  -moz-image-region: rect(18px, 72px, 36px, 54px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover {
  -moz-image-region: rect(18px, 90px, 36px, 72px) !important;
}

toolbar[iconsize="small"] #tabview-button:hover:active[groups="0"] {
  -moz-image-region: rect(36px, 18px, 54px,    0) !important;
}
toolbar[iconsize="small"] #tabview-button:hover:active[groups="1"] {
  -moz-image-region: rect(36px, 36px, 54px, 18px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover:active[groups="2"] {
  -moz-image-region: rect(36px, 54px, 54px, 36px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover:active[groups="3"] {
  -moz-image-region: rect(36px, 72px, 54px, 54px) !important;
}
toolbar[iconsize="small"] #tabview-button:hover:active {
  -moz-image-region: rect(36px, 90px, 54px, 72px) !important;
}

/* menu_tabview button (16px) ############################################## */
#menu_tabview {
  list-style-image: url(chrome://browser/skin/moonscape/img/tabview.png) !important;
}
#menu_tabview[groups="0"] {
  -moz-image-region: rect(1px, 17px, 17px, 1px) !important;
}
#menu_tabview[groups="1"] {
  -moz-image-region: rect(1px, 35px, 17px, 19px) !important;
}
#menu_tabview[groups="2"] {
  -moz-image-region: rect(1px, 53px, 17px, 37px) !important;
}
#menu_tabview[groups="3"] {
  -moz-image-region: rect(1px, 71px, 17px, 55px) !important;
}
#menu_tabview {
  -moz-image-region: rect(1px, 89px, 17px, 73px) !important;
}

#menu_tabview:hover[groups="0"] {
  -moz-image-region: rect(19px, 17px, 35px, 1px) !important;
}
#menu_tabview:hover[groups="1"] {
  -moz-image-region: rect(19px, 35px, 35px, 19px) !important;
}
#menu_tabview:hover[groups="2"] {
  -moz-image-region: rect(19px, 53px, 35px, 37px) !important;
}
#menu_tabview:hover[groups="3"] {
  -moz-image-region: rect(19px, 71px, 35px, 55px) !important;
}
#menu_tabview:hover {
  -moz-image-region: rect(19px, 89px, 35px, 73px) !important;
}

#menu_tabview:hover:active[groups="0"] {
  -moz-image-region: rect(36px, 17px, 53px, 1px) !important;
}
#menu_tabview:hover:active[groups="1"] {
  -moz-image-region: rect(36px, 35px, 53px, 19px) !important;
}
#menu_tabview:hover:active[groups="2"] {
  -moz-image-region: rect(36px, 53px, 53px, 37px) !important;
}
#menu_tabview:hover:active[groups="3"] {
  -moz-image-region: rect(36px, 71px, 53px, 55px) !important;
}
#menu_tabview:hover:active {
  -moz-image-region: rect(36px, 89px, 53px, 73px) !important;
}
