/**************************************************************************
 * Allow toolbar separators to function properly on Mac OS
 * By: Michael Walden
 **/
toolbarseparator {
  -moz-appearance: none !important;
  -moz-border-left-colors  : transparent transparent rgba(0,0,0,.4) !important;
  -moz-border-right-colors : transparent transparent rgba(255,255,255,.8) !important;
}
