/**************************************************************************
 * Remove extra Navigation Toolbar padding
 * By: Michael Walden
 **/

.toolbarbutton-1,
.toolbarbutton-menubutton-button {
  padding: 0px 0px 0px 0px !important;
}
toolbar[mode="full"] .toolbarbutton-1,
toolbar[mode="full"] .toolbarbutton-menubutton-button {
  min-width: 38px !important;
}
toolbar[mode="full"] .toolbarbutton-text {
  padding: 0px 1px 0px 2px !important;
}
#nav-bar {
  min-height: 18px !important;
  max-height: none !important;
}
.toolbarbutton-icon {
  margin: 0px 1px 0px 1px !important;
}
toolbar[iconsize="small"] #tabview-button > image {
  margin: -1px !important;
}

/*
toolbar[iconsize="small"]:not([mode="full"]) .toolbarbutton-1 {
  background: blue !important;
}
toolbar:not([iconsize="small"]):not([mode="full"]) .toolbarbutton-1 {
  background: red !important;
}
*/
