/**************************************************************************
 * Remove extra Tab Bar padding
 * By: Michael Walden
 **/
#TabsToolbar toolbarbutton,
.tabbrowser-tab,       /* From Make tabbar tabs compact */
.tabs-newtab-button  { /* From Make tabbar tabs compact */
 min-height:     12px !important;
 max-height:     none !important;
 padding-top:    0px !important;
 padding-bottom: 0px !important;
 padding-left:   0px !important;
 padding-right:  0px !important;
}
/* Set gap above tabs on tabs toolbar when on bottom */
#TabsToolbar:not([tabsontop="true"]) {
  padding-top:   0px !important;
}
/* == Adjust pinned tabs when scrollbutton-up is visible =================== */

.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned]:not(:-moz-lwtheme) {
  height: 18px !important;
}
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] .tab-icon-image:not(:-moz-lwtheme),
.tabbrowser-tabs[positionpinnedtabs] > .tabbrowser-tab[pinned] .tab-throbber:not(:-moz-lwtheme) {
  margin-top: 0px !important;
}

/* Make tabbar tabs compact 
.tabbrowser-tab,
.tabs-newtab-button  {
 margin: 0 !important;  * Remove this one to prevent pinned tabs from moving to right of arrow button *
 padding-bottom: 0px !important;
 padding-left:   0px !important;
 padding-right:  0px !important;
 padding-top:    0px !important;
}
*/
