/**************************************************************************
 * Remove extra Bookmarks (Personal) Toolbar padding
 * By: Michael Walden
 **/
#PersonalToolbar toolbarbutton,
#personal-bookmarks {
  min-height:    12px !important;
  padding-top:    0px !important;
  padding-bottom: 0px !important;
  padding-left:   0px !important;
  padding-right:  0px !important;
}
#personal-bookmarks toolbarbutton {
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px !important;
}
#personal-bookmarks .toolbarbutton-icon {
  margin: 0px 0px 0px 1px !important;
  padding: 0px 0px 0px 0px !important;
}
#personal-bookmarks .toolbarbutton-text {
  margin: 0px 2px 0px 1px !important;
  padding: 0px 0px 0px 0px !important;
}
