/**************************************************************************
 * Search bar go button - style 1 (flashlight)
 * By: Michael Walden
 **/
.search-go-button {
  list-style-image: url("chrome://browser/skin/moonscape/img/Search-glass.png") !important;
  border: 0px !important;
  padding: 0px !important;
  -moz-appearance: none !important;
}
.search-go-button[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/moonscape/img/Search-glass-rtl.png") !important;
}
.search-go-button {
  -moz-image-region: rect(1px 25px 21px 0px) !important;
}
.search-go-button:hover {
  -moz-image-region: rect(1px 50px 21px 25px) !important;
}
.search-go-button[disabled="true"] {
  -moz-image-region: rect(1px, 75px, 21px, 50px) !important;
}
.search-go-button:hover:active {
  -moz-image-region: rect(1px, 100px, 21px, 75px) !important;
}
