/**************************************************************************
 * Search bar - Enable left end text label
 *
 * My notes:
 *  Search:
 *  Query:
 *
 * By: Michael Walden
 **/
#search-container:before  {
  content: "Search:" !important;
  display: block !important;
  padding: 0 0 0 8px !important;
  /* -moz-box-orient: horizontal !important; */
  color: -moz-fieldtext !important;
  /* background: transparent !important; */
  /* text-shadow: none !important; */
}
#search-container:hover:before {
  color: blue !important;
}
