/**************************************************************************
 * Search bar - Enable left end gray background
 * By: Michael Walden
 **/
.searchbar-engine-button {
  background-color: -moz-dialog !important;
  border-right: 1px solid !important;
  padding-right: 2px !important;
  margin-right: 3px !important;
  -moz-border-right-colors: ThreeDShadow rgba(255, 255, 255, 0.2) !important;
}
