/**************************************************************************
 * Skin the Work Offline extension #4
 * By: Michael Walden
 * Inspired by: Theme “Navigator” for Claws Mail by Daniel Schneider
 *              http://Knetfeder.de/linux/index.php?id=18
 **/

#aOffline-status > .toolbarbutton-icon {
  list-style-image: url("chrome://subskins/skin/img/Offline-Online4.png") !important;
  -moz-image-region:rect(0px 78px 13px 39px) !important;
  width: 39px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
#aOffline-status[offline="true"] > .toolbarbutton-icon {
  -moz-image-region:rect(0px 39px 13px 0px) !important;
  width: 39px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
