/**************************************************************************
 * Skin the Work Offline extension #2
 * By: Michael Walden
 **/

#aOffline-status > .toolbarbutton-icon {
  list-style-image: url("chrome://subskins/skin/img/Offline-Online2.png") !important;
  -moz-image-region:rect(0px 78px 13px 39px) !important;
  width: 39px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
#aOffline-status[offline="true"] > .toolbarbutton-icon {
  -moz-image-region:rect(0px 39px 13px 0px) !important;
  width: 39px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
