/**************************************************************************
 * Skin the Work Offline extension #3
 * By: Michael Walden
 * Inspired by: Theme “Navigator” for Claws Mail by Daniel Schneider
 *              http://Knetfeder.de/linux/index.php?id=18
 **/

#aOffline-status > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/moonscape/img/Offline-Online3.png") !important;
  -moz-image-region:rect(0px 56px 13px 28px) !important;
  width: 28px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
#aOffline-status[offline="true"] > .toolbarbutton-icon {
  -moz-image-region:rect(0px 28px 13px 0px) !important;
  width: 28px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
