/**************************************************************************
 * Skin the Work Offline extension #1
 * By: Michael Walden
 **/

#aOffline-status > .toolbarbutton-icon {
  list-style-image: url("chrome://subskins/skin/img/Offline-Online.png") !important;
  -moz-image-region:rect(0px 56px 13px 28px) !important;
  width: 28px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
#aOffline-status[offline="true"] > .toolbarbutton-icon {
  -moz-image-region:rect(0px 28px 13px 0px) !important;
  width: 28px !important;
  height: 13px !important;
  margin: 3px 0px 2px 0px !important;
}
