/**************************************************************************
 * Status-4-Evar - Skin the download button and remove extra padding
 * By: Michael Walden
 **/
#status4evar-download-button{
 list-style-image: url("chrome://browser/skin/themed-Toolbar-small.png") !important;
 -moz-image-region: rect(0, 96px, 16px, 80px) !important;
}
#status4evar-download-button:hover {
 -moz-image-region: rect(18px, 96px, 32px, 80px) !important;
}
