/**************************************************************************
 * Status Bar - Enable outer recessed 3D frames
 * By: FranklinDM
 **/
 
#addon-bar toolbarbutton,
#addon-bar toolbarbutton > .toolbarbutton-menubutton-button {
  border: 1px solid !important;
  -moz-border-top-colors:    ThreeDShadow    transparent !important;
  -moz-border-right-colors:  ThreeDHighlight transparent !important;
  -moz-border-bottom-colors: ThreeDHighlight transparent !important;
  -moz-border-left-colors:   ThreeDShadow    transparent !important;
}