/**************************************************************************
 * Tab bar text color scheme - Blue on hover and selected
 * By: Michael Walden
 **/
/* Unselected tab */
.tabbrowser-tab:not(:-moz-lwtheme) {
  color: #000000 !important;
}
/* Unselected tab with hover */
.tabbrowser-tab:hover:not(:-moz-lwtheme) {
  color: #0000FF !important;
}
/* Selected tab */
.tabbrowser-tab[selected="true"]:not(:-moz-lwtheme) {
  color: #0000FF !important;
}
/* Selected tab with hover */
.tabbrowser-tab[selected="true"]:hover:not(:-moz-lwtheme) {
  color: #0000FF !important;
}
/* Active tab */
.tabbrowser-tab[selected="true"]:hover:active:not(:-moz-lwtheme) {
  color: #000080 !important;
}
/* Unselected tab in a persona */
.tabbrowser-tab:-moz-lwtheme {
  color: inherit !important;
}
