/**************************************************************************
 * Throbber - Recessed 2px wide 3D border on busy (Netscape)
 * By: Michael Walden
 * Netscape Navigator 4.0 (1997-06-??) - Netscape Communicator 4.8 (2002-08-??), Gecko Preview (1998-12-??)
 **/
#navigator-throbber[busy] > image {
  border: 3px solid !important;
  -moz-border-top-colors:    Transparent ThreeDShadow    ThreeDDarkShadow  !important;
  -moz-border-right-colors:  Transparent ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-bottom-colors: Transparent ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-left-colors:   Transparent ThreeDShadow    ThreeDDarkShadow  !important;
}
