/**************************************************************************
 * Toolbar Bookmarks button - style 2 (Netscape page bookmark in folder)
 * Skin the bookmark sidebar button
 * By: Michael Walden
 **/

/* bookmark sidebar button (large) */

#bookmarks-button > .toolbarbutton-icon {
  list-style-image: url("chrome://browser/skin/moonscape/img/ToolbarBookmarks2.png") !important;
}
#bookmarks-button {
  -moz-image-region: rect(0px 24px 24px 0px) !important;
}
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(24px 24px 48px 0px) !important;
}
#bookmarks-button[disabled="true"] {
  -moz-image-region: rect(48px 24px 72px 0px) !important;
}
/* #bookmarks-button[checked="true"] {
  -moz-image-region: rect(72px 24px 96px 0px) !important;
} */
#bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(96px 24px 120px 0px) !important;
}

/* bookmark sidebar button (small) */

toolbar[iconsize="small"] #bookmarks-button > .toolbarbutton-icon {
  padding-left: 2px !important;
  list-style-image: url("chrome://browser/skin/moonscape/img/Toolbar-smallBookmarks2.png") !important;
}
toolbar[iconsize="small"] #bookmarks-button {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
}
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
}
toolbar[iconsize="small"] #bookmarks-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
}
/* toolbar[iconsize="small"] #bookmarks-button[checked="true"] {
  -moz-image-region: rect(48px 16px 64px 0px) !important;
} */
toolbar[iconsize="small"] #bookmarks-button:not([disabled="true"]):not([checked="true"]):hover:active {
  -moz-image-region: rect(64px 16px 80px 0px) !important;
}
