/**************************************************************************
 * Location bar cleanup
 * By: Michael Walden
 **/

/**************************************************************************
 * Show page proxy security icons on verified sites
 *
 **/
#identity-box #page-proxy-favicon:not([src]) {
  list-style-image: url("chrome://browser/skin/moonscape/img/page-proxy.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#identity-box:hover #page-proxy-favicon[pageproxystate="valid"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
#identity-box #page-proxy-favicon[pageproxystate="invalid"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
#identity-box:hover:active #page-proxy-favicon[pageproxystate="valid"],
#identity-box[open=true] > #page-proxy-favicon[pageproxystate="valid"] {
  -moz-image-region: rect(0px, 64px, 16px, 48px) !important;
}

/* Page-proxy icon - Remove transparency from page-proxy-favicon */
#page-proxy-favicon[pageproxystate="invalid"] {
  opacity: 1.0 !important;
}

/* identity-box cleanup */
#identity-box {
  padding: 2px 3px !important;
  margin: 0px !important;
  border-right-color: threeddarkshadow !important;
  background-image: none !important;
  color: rgb(0,0,0) !important;
}
#identity-icon-labels {
  -moz-margin-start: 3px !important;
  -moz-margin-end: 1px !important;
}


/**************************************************************************
 * My identity-box color notes:
 *
 * 1st (Original):
 *        Gray    Blue    Green
 * Normal #D9D6CF #4AA6E0 #52AB52
 * Hover  #DBD8D2 #69C8EB #6FC970
 *
 * 2nd:
 * Blueish  #6B8BC6
 * Greenish #80BB4D
 *
 * 3rd (Current):
 * Blueish  #CEDDF2
 * Greenish #CBEBB1
 *
 **/
#identity-box,
#identity-box:hover,
#identity-box:hover:active,
#identity-box[open="true"] {
 background-color: transparent !important;
 border-right-color: transparent !important;
}
#identity-box.verifiedDomain,
#identity-box.verifiedDomain:hover,
#identity-box.verifiedDomain:hover:active,
#identity-box.verifiedDomain[open="true"] {
 background-color: #CEDDF2 !important;
 border-right-color: threeddarkshadow !important;
}
#identity-box.verifiedIdentity,
#identity-box.verifiedIdentity:hover,
#identity-box.verifiedIdentity:hover:active,
#identity-box.verifiedIdentity[open="true"] {
 background-color: #CBEBB1 !important;
 border-right-color: threeddarkshadow !important;
}
