/**************************************************************************
 * Web Console filter toolbar cleanup
 * By: Michael Walden
 **/
#viewGroup.hud-console-filter-toolbar {
  background: -moz-dialog !important;
}
#viewGroup .webconsole-filter-button {
  border-style: solid !important;
  -moz-margin-start: 5px !important;
  -moz-margin-end: 5px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}
#viewGroup .toolbarbutton-menubutton-button {
  padding-top: 2px !important;
  padding-bottom: 3px !important;
}
#viewGroup .hud-filter-box {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 22px !important;
}
.hud-output-node {
  border-top: none !important;
}
