/**************************************************************************
 * Enable keyhole back and forward buttons
 * This subskin restores keyhole-style back/forward buttons and
 * forward button hiding when it is in disabled state
 * By: Michael Walden
 **/
 
/* ########################################################################## */

/* Unified large back/forward buttons, 'keyhole' style, for icons mode... */

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  -moz-transform: scaleX(-1) !important;
}

toolbar[mode="icons"] #back-button {
  padding: 0 !important;
  -moz-padding-start: 4px !important;
}

toolbar[mode="icons"] #forward-button {
  transition: transform, margin 250ms;
}

toolbar[mode="icons"] #forward-button[disabled="true"] {
  transition: transform, margin 250ms;
  transform: scale(0);
  opacity: 0;
  margin-left: -25px;
}

/* ########################################################################## */

/* Unified small back/forward buttons, for icons mode... */

toolbar[iconsize="small"][mode="icons"] #back-button {
  padding: 0 !important;
  -moz-padding-start: 4px !important;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  -moz-padding-end: 4px !important;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  transition: transform, margin 250ms;
}

toolbar[iconsize="small"][mode="icons"] #forward-button[disabled="true"] {
  transition: transform, margin 250ms;
  transform: scale(0);
  opacity: 0;
  margin-left: -20px;
}


/* ########################################################################## */
