/**************************************************************************
 * Enable keyhole back and forward buttons
 * This subskin restores the two sections removed from the browser.css
 * By: Michael Walden
 **/
 
/* ########################################################################## */

/* Unified large back/forward buttons, 'keyhole' style, for icons mode... */

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  -moz-transform: scaleX(-1) !important;
}

toolbar[mode="icons"] #back-button {
  -moz-appearance: none !important;
  padding: 0 !important;
  -moz-padding-start: 4px !important;
  border: none !important;
}

toolbar[iconsize="large"][mode="icons"] #back-button {
  -moz-image-region: rect(0px 396px 34px 360px) !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button:hover {
  -moz-image-region: rect(34px 396px 68px 360px) !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button[disabled="true"] {
  -moz-image-region: rect(68px 396px 102px 360px) !important;
}
toolbar[iconsize="large"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(102px 396px 136px 360px) !important;
}

toolbar[mode="icons"] #forward-button {
  -moz-appearance: none !important;
  padding: 0 !important;
  border: none !important;
  -moz-padding-end: 4px !important;
}

toolbar[iconsize="large"][mode="icons"] #forward-button {
  -moz-image-region: rect(3px 426px 31px 396px) !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button:hover {
  -moz-image-region: rect(37px 426px 65px 396px) !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button[disabled="true"] {
  -moz-image-region: rect(71px 426px 99px 396px) !important;
}
toolbar[iconsize="large"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(105px 426px 133px 396px) !important;
}

/* ########################################################################## */

/* Unified small back/forward buttons, for icons mode... */

toolbar[iconsize="small"][mode="icons"] #back-button {
  -moz-appearance: none !important;
  padding: 0 !important;
  -moz-padding-start: 4px !important;
  border: none !important;
}

toolbar[iconsize="small"][mode="icons"] #back-button {
  -moz-image-region: rect(0px 264px 24px 240px) !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button:hover {
  -moz-image-region: rect(24px 264px 48px 240px) !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button[disabled="true"] {
  -moz-image-region: rect(48px 264px 72px 240px) !important;
}
toolbar[iconsize="small"][mode="icons"] #back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 264px 96px 240px) !important;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  -moz-appearance: none !important;
  padding: 0 !important;
  border: none !important;
  -moz-padding-end: 4px !important;
}

toolbar[iconsize="small"][mode="icons"] #forward-button {
  -moz-image-region: rect(0px 288px 24px 264px) !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button:hover {
  -moz-image-region: rect(24px 288px 48px 264px) !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button[disabled="true"] {
  -moz-image-region: rect(48px 288px 72px 264px) !important;
}
toolbar[iconsize="small"][mode="icons"] #forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(72px 288px 96px 264px) !important;
}

/* ########################################################################## */
