/**************************************************************************
 * Location bar icons - Only show on mouse hover and focus
 * By: Michael Walden
 **/
#urlbar #urlbar-icons,
.urlbar-history-dropmarker {
 display: none !important;
}
#urlbar:hover #urlbar-icons,
#urlbar[focused="true"] #urlbar-icons,
#urlbar:hover .urlbar-history-dropmarker,
#urlbar[focused="true"] .urlbar-history-dropmarker {
 display: -moz-box !important;
}
#urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button {
 display: none !important;
}
#urlbar:hover #urlbar-go-button,
#urlbar[focused="true"] #urlbar-go-button,
#urlbar:hover #urlbar-reload-button,
#urlbar[focused="true"] #urlbar-reload-button,
#urlbar:hover #urlbar-stop-button,
#urlbar[focused="true"] #urlbar-stop-button {
 display: -moz-box !important;
}
