/**************************************************************************
 * Remove extra Menu Bar padding
 * By: Michael Walden
 **/
#main-menubar > menu > label,
#main-menubar > menu > .menubar-text {
 padding: 0px 1px 1px 1px ! important;
 margin: 0px 0px 0px 0px ! important;
}
#main-menubar {
 min-height: 18px !important;
}
