/**************************************************************************
 * Status-4-Evar - Enable outer recessed 3D frames
 * By: Michael Walden
 **/
#status4evar-status-widget,
#status4evar-progress-widget,
#status4evar-download-button,
#status4evar-options-button {
  border-top-color:    ThreeDShadow !important;
  border-top-style:    solid !important;
  border-top-width:    1px !important;
  border-right-color:  ThreeDHighlight !important;
  border-right-style:  solid !important;
  border-right-width:  1px !important;
  border-bottom-color: ThreeDHighlight !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color:   ThreeDShadow !important;
  border-left-style:   solid !important;
  border-left-width:   1px !important;
  margin-left:         1px !important;
  margin-right:        1px !important;
  padding-top:         1px !important;
  padding-right:       1px !important;
  padding-bottom:      1px !important;
  padding-left:        1px !important;
}
