/**************************************************************************
 * Tab default favicon - style 3 (Netscape page)
 * By: Michael Walden
 **/
.tabbrowser-tab .tab-icon-image {
  list-style-image: url("chrome://browser/skin/moonscape/img/page-proxy3.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
.tabbrowser-tab:hover .tab-icon-image {
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
/* .tabbrowser-tab[disabled="true"] .tab-icon-image {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
} */
.tabbrowser-tab:hover:active .tab-icon-image {
  -moz-image-region: rect(0px, 64px, 16px, 48px) !important;
}
