/**************************************************************************
 * Throbber - Recessed 3px wide 3D border on busy (Mozilla)
 * By: Michael Walden
 * Mozilla M18 2000-10-10 - SeaMonkey 1.0 Alpha 2005-09-10
 **/
#navigator-throbber[busy] > image {
  border: 3px solid !important;
  -moz-border-top-colors:    ThreeDDarkShadow ThreeDShadow    ThreeDLightShadow !important;
  -moz-border-right-colors:  ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-bottom-colors: ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-left-colors:   ThreeDDarkShadow ThreeDShadow    ThreeDLightShadow !important;
}
