/**************************************************************************
 * Toolbar button text color - scheme 2 (black)
 * By: Michael Walden
 **/
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton:not([disabled="true"]) {
  color: #000000 !important;
}
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton:hover:not([disabled="true"]),
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton[buttonover="true"] {
  color: #000000 !important;
}
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton:hover:active:not([disabled="true"]),
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton[open="true"]:hover,
#navigator-toolbox:not(:-moz-lwtheme) toolbarbutton[open="true"] {
  color: #000000 !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton:not([disabled="true"]) {
  color: #000000 !important;
}
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton:hover:not([disabled="true"]),
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton[buttonover="true"] {
  color: #000000 !important;
}
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton:hover:active:not([disabled="true"]),
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton[open="true"]:hover,
#browser-bottombox:not(:-moz-lwtheme) toolbarbutton[open="true"] {
  color: #000000 !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#addon-bar:not(:-moz-lwtheme) toolbarbutton:not([disabled="true"]) {
  color: #000000 !important;
}
#addon-bar:not(:-moz-lwtheme) toolbarbutton:hover:not([disabled="true"]),
#addon-bar:not(:-moz-lwtheme) toolbarbutton[buttonover="true"] {
  color: #000000 !important;
}
#addon-bar:not(:-moz-lwtheme) toolbarbutton:hover:active:not([disabled="true"]),
#addon-bar:not(:-moz-lwtheme) toolbarbutton[open="true"]:hover,
#addon-bar:not(:-moz-lwtheme) toolbarbutton[open="true"] {
  color: #000000 !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#placesMenu > menu > .menubar-text {
  color: #000000 !important;
}
#placesMenu > menu:hover > .menubar-text {
  color: #000000 !important;
}
#placesMenu > menu:hover[open="true"] > .menubar-text {
  color: #000000 !important;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#console-toolbox:not(:-moz-lwtheme) toolbarbutton:not([disabled="true"]) {
  color: #000000 !important;
}
#console-toolbox:not(:-moz-lwtheme) toolbarbutton:hover:not([disabled="true"]),
#console-toolbox:not(:-moz-lwtheme) toolbarbutton[buttonover="true"] {
  color: #000000 !important;
}
#console-toolbox:not(:-moz-lwtheme) toolbarbutton:hover:active:not([disabled="true"]),
#console-toolbox:not(:-moz-lwtheme) toolbarbutton[open="true"]:hover,
#console-toolbox:not(:-moz-lwtheme) toolbarbutton[open="true"] {
  color: #000000 !important;
}
