/**************************************************************************
 * Location & search splitter grippy - Disable
 * By: Michael Walden
 **/
#urlbar-search-splitter {
  margin-right: -4px !important;
  margin-left: -4px !important;
  min-width: 8px !important;
  background: none !important;
}
#urlbar-search-splitter:hover {
  background: none !important;
}
