/**************************************************************************
 * Location bar go button - style 1 (arrow with green dot)
 * By: Michael Walden
 **/
#go-button {
  -moz-appearance: none !important;
  list-style-image: url("chrome://browser/skin/moonscape/img/Go-arrow.png") !important;
  -moz-image-region: rect(0px 25px 22px 0px) !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}
#go-button[chromedir="rtl"] {
  list-style-image: url("chrome://browser/skin/moonscape/img/Go-arrow-rtl.png") !important;
}
#go-button:not([disabled="true"]):hover {
  -moz-image-region: rect(0px 50px 22px 25px) !important;
}
#go-button[disabled="true"] {
  -moz-image-region: rect(0px 75px 22px 50px) !important;
}
#go-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(0px 100px 22px 75px) !important;
}
