/**************************************************************************
 * Skin the Restart Manager appmenu icon
 * By: Michael Walden, FranklinDM
 **/

#restman-appMenuItem {
  list-style-image: url("chrome://browser/skin/moonscape/img/Restart-small.png") !important;
  -moz-image-region:rect(0px 16px 16px 0px) !important;
}

#restman-appMenuItem:hover {
  -moz-image-region:rect(16px 16px 32px 0px) !important;
}

#restman-appMenuItem:hover:active {
  -moz-image-region:rect(64px 16px 80px 0px) !important;
}

#restman-appMenuItem[disabled="true"] {
  -moz-image-region:rect(32px 16px 48px 0px) !important;
}