/******************	********************************************************
 * Enable auto scaling throbber using small (16x16) and large (32x32)
 * throbbers for small and large icon modes, respectively.  Also displays
 * the extra large (40x40) throbber for large icon mode when show Icons and
 * Text (full) is selected.
 * By: Michael Walden
 * (My note: [mode="full"] [mode="icons"] [mode="text"] [iconsize="large"] [iconsize="small"] )
 **/
#throbber-box,
toolbar[mode="full"] #throbber-box {
  width: 16px;
  min-height: 16px;
  margin: 0 3px;
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber32S.png") !important;
}
#throbber-box[busy="true"],
toolbar[mode="full"] #throbber-box[busy="true"] {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber32A.gif") !important;
}
toolbar[iconsize="large"][mode="full"] #throbber-box {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber40S.gif") !important;
}
toolbar[iconsize="large"][mode="full"] #throbber-box[busy="true"] {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber40A.gif") !important;
}
toolbar[iconsize="small"]:not([mode="full"]) #throbber-box,
toolbar[mode="text"] #throbber-box,
.chromeclass-menubar #throbber-box,
toolbar[mode="full"].chromeclass-menubar  #throbber-box {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16S.png") !important;
}
toolbar[iconsize="small"]:not([mode="full"]) #throbber-box[busy="true"],
toolbar[mode="text"] #throbber-box[busy="true"],
.chromeclass-menubar #throbber-box[busy="true"],
toolbar[mode="full"].chromeclass-menubar  #throbber-box[busy="true"] {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16A.gif") !important;
}
/**************************************************************************
 * Set other small throbbers to a matching throbber style.
 * These should only be 16x16 pixels (or smaller) in size.
 **/
/* Tabs */
.tabmail-tab[busy] > .tab-icon-image,
.tabmail-tab[thinking] > .tab-icon-image {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16A.gif") !important;
}
/* All tabs menupopup */
.alltabs-item[busy] > .menu-iconic-left > .menu-iconic-icon {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16A.gif") !important;
}
/* sidebar-throbber */
#sidebar-throbber[loading="true"] {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16A.gif") !important;
  -moz-margin-end: 4px !important;
}
/* ::::: About Popup Blocking dialog ::::: */
#checkForUpdates[loading="true"] {
  list-style-image: url("chrome://messenger/skin/moonscape/thr/Throbber16A.gif") !important;
}
