/**************************************************************************
 * Throbber - Raised 3px wide 3D border with 1px gap (Mozilla)
 * By: Michael Walden
 * Mozilla M18 2000-10-10 - SeaMonkey 1.0 Alpha 2005-09-10
 **/
#navigator-throbber > image {
  border: 4px solid !important;
  -moz-border-top-colors:    Transparent ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow !important;
  -moz-border-right-colors:  Transparent ThreeDDarkShadow ThreeDShadow    ThreeDLightShadow !important;
  -moz-border-bottom-colors: Transparent ThreeDDarkShadow ThreeDShadow    ThreeDLightShadow !important;
  -moz-border-left-colors:   Transparent ThreeDDarkShadow ThreeDHighlight ThreeDLightShadow !important;
}
