
/* Search field */
.findbar-textbox {
  -moz-appearance: none !important;
  border: 1px solid ThreeDShadow !important;
  border-radius: 0 0 0 0 !important;
  margin: 0 !important;
  padding: 1px 5px !important;
  width: 14em !important;
}
.findbar-textbox:-moz-locale-dir(rtl) {
  border-radius: 0 0 0 0 !important;
}
.findbar-textbox[focused="true"] {
  border-color: Highlight !important;
}
.findbar-textbox[status="notfound"] {
  box-shadow: 0 0 0 1em #f66 inset !important;
  color: white !important;
}
.findbar-textbox[flash="true"] {
  box-shadow: 0 0 0 1em yellow inset !important;
  color: black !important;
}
.findbar-textbox.minimal {
  border-radius: 0 !important;
}
.findbar-textbox {
   width:             222px !important; /* 148px */
  /* Remove rounded corners ================================================ */
   border-radius:     0px !important;
  /* Remove border shadow ================================================== */
   box-shadow:        none !important;
  /* Set outside gap between border and external objects =================== */
   margin-top:        0px !important;
   margin-right:      4px !important;
   margin-bottom:     0px !important;
   margin-left:       4px !important;
  /* Set inside gap between border and internal objects ==================== */
   padding-top:       0px !important;
   padding-right:     0px !important;
   padding-bottom:    0px !important;
   padding-left:      0px !important;
  /* Border - Thick 3D ===================================================== */
   border-top-color:           rgb(0, 0, 0) !important;
   border-top-style:           solid !important;
   border-top-width:           2px !important;
   border-right-color:         rgb(0, 0, 0) !important;
   border-right-style:         solid !important;
   border-right-width:         2px !important;
   border-bottom-color:        rgb(0, 0, 0) !important;
   border-bottom-style:        solid !important;
   border-bottom-width:        2px !important;
   border-left-color:          rgb(0, 0, 0) !important;
   border-left-style:          solid !important;
   border-left-width:          2px !important;
   -moz-border-top-colors:     threedshadow    threeddarkshadow  !important;
   -moz-border-right-colors:   threedhighlight threedlightshadow !important;
   -moz-border-bottom-colors:  threedhighlight threedlightshadow !important;
   -moz-border-left-colors:    threedshadow    threeddarkshadow  !important;
}

/* find-next button */
.findbar-find-next {
  background: transparent !important;
  box-shadow: 0 0px #fff inset !important;
  list-style-image: url("chrome://global/skin/icons/find.png") !important;
  -moz-image-region: rect(0px 16px 16px 0px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    transparent !important;
  -moz-border-right-colors:  transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors:   transparent !important;
}
.findbar-find-next:hover {
  -moz-image-region: rect(16px 16px 32px 0px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    ThreeDHighlight !important;
  -moz-border-right-colors:  ThreeDShadow    !important;
  -moz-border-bottom-colors: ThreeDShadow    !important;
  -moz-border-left-colors:   ThreeDHighlight !important;
}
.findbar-find-next[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px) !important;
   border: 1px solid !important;
  -moz-border-top-colors:    transparent !important;
  -moz-border-right-colors:  transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors:   transparent !important;
}
.findbar-find-next:not([disabled]):hover:active {
  -moz-image-region: rect(0px 16px 16px 0px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    ThreeDShadow    !important;
  -moz-border-right-colors:  ThreeDHighlight !important;
  -moz-border-bottom-colors: ThreeDHighlight !important;
  -moz-border-left-colors:   ThreeDShadow    !important;
}

/* find-previous button */
.findbar-find-previous {
  background: transparent !important;
  box-shadow: 0 0px #fff inset !important;
  list-style-image: url("chrome://global/skin/icons/find.png") !important;
  -moz-image-region: rect(0px 32px 16px 16px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    transparent !important;
  -moz-border-right-colors:  transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors:   transparent !important;
}
.findbar-find-previous:hover {
  -moz-image-region: rect(16px 32px 32px 16px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    ThreeDHighlight !important;
  -moz-border-right-colors:  ThreeDShadow    !important;
  -moz-border-bottom-colors: ThreeDShadow    !important;
  -moz-border-left-colors:   ThreeDHighlight !important;
}
.findbar-find-previous[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px) !important;
   border: 1px solid !important;
  -moz-border-top-colors:    transparent !important;
  -moz-border-right-colors:  transparent !important;
  -moz-border-bottom-colors: transparent !important;
  -moz-border-left-colors:   transparent !important;
}
.findbar-find-previous:not([disabled]):hover:active {
  -moz-image-region: rect(0px 32px 16px 16px) !important;
  border: 1px solid !important;
  -moz-border-top-colors:    ThreeDShadow    !important;
  -moz-border-right-colors:  ThreeDHighlight !important;
  -moz-border-bottom-colors: ThreeDHighlight !important;
  -moz-border-left-colors:   ThreeDShadow    !important;
}
