/**************************************************************************
 * Allow menubar bookmarks to function properly on Mac OS
 * By: Michael Walden
 **/

#appmenu_bookmarksPopup > menuitem.bookmark-item,
#bookmarksMenuPopup > menuitem.bookmark-item {
  list-style-image: url("chrome://browser/skin/foxscape/img/Bookmark.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[container] {
  list-style-image: url("chrome://browser/skin/foxscape/img/BookmarkFolderClosed.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[container][open] {
  list-style-image: url("chrome://browser/skin/foxscape/img/BookmarkFolderOpen.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[container][livemark] { 
  list-style-image: url("chrome://browser/skin/livemark-folder.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[container][livemark] .bookmark-item {
  list-style-image: url("chrome://browser/skin/foxscape/img/livemark-item.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[container][query] {
  list-style-image: url("chrome://browser/skin/places/query.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[query][tagContainer] {
  list-style-image: url("chrome://browser/skin/places/tag.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[query][dayContainer] {
  list-style-image: url("chrome://browser/skin/places/calendar.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[query][hostContainer] {
  list-style-image: url("chrome://browser/skin/foxscape/img/BookmarkFolderClosed.png") !important;
  -moz-image-region: auto !important;
}

menu.bookmark-item[query][hostContainer][open] {
  list-style-image: url("chrome://browser/skin/foxscape/img/BookmarkFolderOpen.png") !important;
  -moz-image-region: auto !important;
}
