/**************************************************************************
 * Skin the App Menu button
 * By: Michael Walden
 **/

#appmenu-button {
  background: -moz-dialog !important;
  box-shadow: none !important;
  /* Square off appmenu-button corners and make color gray */
  border-radius: 0 !important;
  border-color: rgba(83,83,83,.9) !important;
  /* margin-top: 0px !important; */
  /* margin-bottom: 0px !important; */
}
#appmenu-button .button-text {
  display: none !important;
}
#appmenu-button dropmarker:before {
  content: "Pale Moon " !important;
  color: black !important;
  text-shadow: none !important;
}
#appmenu-button:hover:not(:active):not([open]) {
  box-shadow: none !important;
}
#appmenu-button:hover:not(:active):not([open]) dropmarker:before {
  background-image: none !important;
  color: blue !important;
}
#appmenu-button:hover:active dropmarker:before,
#appmenu-button[open] dropmarker:before {
  color: #000080 !important;
}
#appmenu-button:hover:active,
#appmenu-button[open] {
  background-image: none !important;
  box-shadow: none !important;
}
/*
#appmenu-button > .button-box > .button-menu-dropmarker {
  list-style-image: url(mainwindow-dropdown-arrow.png) !important;
}
*/
