/**************************************************************************
 * Close Button by Isaac - Remove extra button padding
 * By: Michael Walden
 **/
#cb-button {
 min-height: 16px !important;
 padding-top: 2px !important;
 padding-bottom: 2px !important;
}
#cb-button > image {
 padding: 0px !important;
 margin-left: 0px !important;
 margin-right: -1px !important;
}
