/**************************************************************************
 * Location bar & search bar style 7 - Firefox 4.0 compact (24px)
 * By: Michael Walden
 **/
#urlbar, .searchbar-textbox {
  /* Remove rounded corners ================================================ */
   border-radius:     0px !important;
  /* Remove border shadow ================================================== */
   box-shadow:        none !important;
  /* Set outside gap between border and external objects =================== */
   margin-top:        2px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   margin-right:      4px !important;
   margin-bottom:     2px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   margin-left:       4px !important;
  /* Set inside gap between border and internal objects ==================== */
   padding-top:       0px !important;
   padding-right:     0px !important;
   padding-bottom:    0px !important;
   padding-left:      0px !important;
  /* URL Bar Border - Thin Dark ============================================ */
   border-top-color:           rgb(0, 0, 0) !important;
   border-top-style:           solid !important;
   border-top-width:           1px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   border-right-color:         rgb(0, 0, 0) !important;
   border-right-style:         solid !important;
   border-right-width:         1px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   border-bottom-color:        rgb(0, 0, 0) !important;
   border-bottom-style:        solid !important;
   border-bottom-width:        1px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   border-left-color:          rgb(0, 0, 0) !important;
   border-left-style:          solid !important;
   border-left-width:          1px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   -moz-border-top-colors:     ThreeDDarkShadow !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   -moz-border-right-colors:   ThreeDDarkShadow !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   -moz-border-bottom-colors:  ThreeDDarkShadow !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
   -moz-border-left-colors:    ThreeDDarkShadow !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
}
#page-proxy-stack {
  /* Remove location bar favicon glow ====================================== */
   background-image: none !important;
}
#identity-box {
  /* Remove identity-box rounded corners =================================== */
   border-radius:     0px !important;
  /* Remove identity-box shadow ============================================ */
   box-shadow:        none !important;
  /* Remove identity-box text shadow ======================================= */
   text-shadow:       none !important;
  /* Remove shaded background ============================================== */
   background-image:  none !important;
}
.urlbar-textbox-container, #searchbar .textbox-input-box {
  /* Set internal height of location bar =================================== */
   height:            18px !important; /* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
}
#notification-popup-box {
  /* Remove visible BG gaps at both ends =================================== */
   margin-left:       0px !important; 
   padding-left:      3px !important; 
   margin-right:      0px !important; 
   padding-right:     3px !important; 
}
.urlbar-input-box {
  /* Remove visible BG gaps at both ends =================================== */
   margin-left:       0px !important;
   padding-left:      3px !important;
   margin-right:      0px !important;
   padding-right:     3px !important;
}
.urlbar-over-link-box {
  /* S4E Support =========================================================== */
   margin-top:        2px !important;
   margin-bottom:     2px !important;
}
/* .urlbar-stack,
.urlbar-progress-layer,
.urlbar-over-link-layer,
.urlbar-textbox-container, */
.urlbar-input-layer {
  /* Compensate for S4E extra location bar top and bottom borders ========== */
   border: 0px solid !important;
}
/* #urlbar-go-button,
#urlbar-reload-button,
#urlbar-stop-button, */
#urlbar > toolbarbutton {
   background-image:  none !important;
   box-shadow:        none !important;
   margin:            0px !important; 
   -moz-border-start: 0px !important;
   padding:           0 1px !important;
   background-origin: border-box !important;
   border-radius:     0px !important;
}
