/**************************************************************************
 * Page-proxy icon - style 4 (Mozilla / SeaMonkey new tab button style)
 * By: Michael Walden
 **/
#identity-box #page-proxy-favicon:not([src]) {
  list-style-image: url("chrome://browser/skin/foxscape/img/page-proxy4.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#identity-box:hover #page-proxy-favicon[pageproxystate="valid"] {
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
#identity-box #page-proxy-favicon[pageproxystate="invalid"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
#identity-box:hover:active #page-proxy-favicon[pageproxystate="valid"] {
  -moz-image-region: rect(0px, 64px, 16px, 48px) !important;
}
