/**************************************************************************
 * Remove separators between toolbars
 * By: Michael Walden
 * Influenced by: Kurt Schultz (supernova_00) Firefox - Tips & Tricks - <http://supernova00.biz/userchrome.html>
 **/

/* Remove bottom of Title bar and top of Menu bar (vertically save 2 pixels) */
#navigator-toolbox {
 border: none !important;
}

/* Remove bottom of Menu bar (vertically save 1 pixel) */
#toolbar-menubar {
 min-height: 12px !important;
 border: none !important;
}

/* Remove top and bottom of Navigation Toolbar (vertically save 2 pixels) */
#nav-bar {
 min-height: 12px !important;
 border: none !important;
}

/* Remove top and bottom of Location Toolbar (vertically save 2 pixels) */
#__customToolbar_Location_Toolbar {
 min-height: 12px !important;
 border: none !important;
}

/* Remove top and bottom of Personal Toolbar (vertically save 4 pixels) */
#PersonalToolbar {
 min-height: 12px !important;
 border: none !important;
}

/* Remove top and bottom of Tabs Toolbar (vertically save 2 pixels) */
#TabsToolbar {
 min-height: 12px !important;
 border: none !important;
}
