/**************************************************************************
 * Tab bar close button - Mozilla, SeaMonkey style
 * By: Michael Walden
 **/
#TabsToolbar .tabs-closebutton {
  list-style-image: url("chrome://browser/skin/foxscape/img/mozilla-tab-close.png") !important;
  -moz-image-region: rect(0px, 16px, 16px, 0px) !important;
}
#TabsToolbar .tabs-closebutton:hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px) !important;
}
#TabsToolbar .tabs-closebutton[disabled="true"] {
  -moz-image-region: rect(0px, 48px, 16px, 32px) !important;
}
#TabsToolbar .tabs-closebutton:hover:active {
  -moz-image-region: rect(0px, 64px, 16px, 48px) !important;
}
#TabsToolbar .tabs-closebutton {
  width: 26px !important;
}
