/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --toolbarbutton-image: url("chrome://browser/skin/Toolbar.png");
}

/* Toolbar */
#placesToolbar {
  padding: 3px;
  padding-inline-end: 6px;
}

#back-button,
#forward-button {
  list-style-image: var(--toolbarbutton-image);
}

#back-button {
  -moz-image-region: rect(0, 16px, 16px, 0);
}
#back-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 16px 32px 0px);
}
#back-button[disabled="true"] {
  -moz-image-region: rect(32px 16px 48px 0px);
}
#back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(48px 16px 64px 0px);
}

#forward-button {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}
#forward-button:not([disabled="true"]):hover {
  -moz-image-region: rect(16px 32px 32px 16px);
}
#forward-button[disabled="true"] {
  -moz-image-region: rect(32px 32px 48px 16px);
}
#forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(48px 32px 64px 16px);
}

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

/* Menu */
#placesMenu {
  border: none;
  margin-inline-start: 6px;
}

#placesMenu > menu {
  padding-inline-start: 4px;
  padding-inline-end: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-width: 1px;
}

#placesMenu > menu[_moz-menuactive="true"] {
  background-color: transparent;
}

#placesMenu > menu:hover {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

#placesMenu > menu[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  padding-inline-start: 5px;
  padding-inline-end: 0px;
  padding-top: 3px;
  padding-bottom: 1px;
}

#placesMenu > menu > .menubar-text {
  padding-inline-end: 8px;
  background: url(chrome://global/skin/arrow/arrow-dn.gif) right center no-repeat;
}

#placesMenu > menu > .menubar-text:-moz-locale-dir(rtl) {
  background-position: left center;
}

/* organize, view and maintenance buttons icons */
#organizeButton, 
#viewMenu, 
#maintenanceButton {
  list-style-image: url("chrome://browser/skin/places/libraryToolbar.png");
}

/* organize button */
#organizeButton {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

/* view button */
#viewMenu {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

/* maintenance button */
#maintenanceButton {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}

/* Root View */
#placesView {
  border-top: 1px solid ThreeDDarkShadow;
}

/* Info box */
#detailsDeck {
  border-top: 1px solid ThreeDShadow;
  padding: 5px;
}

#infoBoxExpanderLabel {
  padding-inline-start: 2px;
}

#organizerScopeBar {
  padding: 2px 0;
  padding-inline-end: 3px;
}

#organizerScopeBar > toolbarbutton > .toolbarbutton-icon {
  padding: 0;
  margin: 0;
}

#organizerScopeBar > toolbarbutton > .toolbarbutton-text {
   margin: 0;
   padding: 2px 5px;
}

#searchFilter {
  margin: 0;
}

/**
 * Downloads pane
 */

#clearDownloadsButton > .toolbarbutton-icon {
  display: none;
}

#clearDownloadsButton {
  padding-inline-start: 9px;
  padding-inline-end: 9px;
}

#placesView {
  border-top: none;
}
