/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/*
 * General styles
 */

#status4evar-status-widget,
#status4evar-progress-widget {
  -moz-box-align: center;
}

[forcevisible="true"] {
  visibility: visible !important;
}

#wrapper-status4evar-progress-widget progressmeter,
#wrapper-status4evar-download-button toolbarbutton {
  visibility: visible;
}

#wrapper-status4evar-status-widget toolbaritem label {
  background-color: rgba(0,0,0,0.2);
  padding: 2px 4px;
}

/*
 * Options button
 */

#status4evar-options-button {
  list-style-image: url("chrome://browser/skin/statusbar/pms24.png");
}

toolbar[iconsize="small"] #status4evar-options-button {
  list-style-image: url("chrome://browser/skin/statusbar/pms16.png");
}

/*
 * Download status
 */

toolbar[mode="icons"] #status4evar-download-button[forcelabel="true"],
toolbar[mode="text"] #status4evar-download-button {
  -moz-box-orient: horizontal !important;
}

toolbar[mode="icons"] #status4evar-download-button[forcelabel="true"] > label {
  display: -moz-box !important;
}

#status4evar-download-progress-bar {
  border: 1px solid gray;
  -moz-appearance: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
}

#status4evar-download-progress-bar > * {
  -moz-appearance: none;
  background: #FFFFFF;
}

#status4evar-download-progress-bar[pmType$="unknown"] > .progress-bar {
  background-image: url("chrome://browser/skin/statusbar/pulse.png");
}

#status4evar-download-notification-container {
  min-height: 1px;
  min-width: 1px;
  height: 1px;
  margin-bottom: -1px;
  position: relative;
  z-index: 5;
}

#status4evar-download-notification-icon {
  opacity: 0;
  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

@keyframes status4evar-download-notification-finish {
  from { opacity: 0; transform: scale(1); }
  20%  { opacity: .65; animation-timing-function: ease-in; }
  to   { opacity: 0; transform: scale(8); }
}

#status4evar-download-notification-anchor[notification="finish"][forcevisible="true"] #status4evar-download-notification-icon {
  background-image: url("chrome://browser/skin/downloads/download-notification-finish.png");
  animation-name: status4evar-download-notification-finish;
  animation-duration: 1s;
}

/*
 * Splitter
 */

splitter.status4evar-status-splitter {
  -moz-appearance: splitter;
  border: none;
  background: transparent;
  position: relative;
}

splitter.status4evar-status-splitter:not(:hover) {
  -moz-appearance: none;
}

/*
 * General progress
 */

#status4evar-progress-bar > .progress-remainder {
  background-image: none;
  background-color: transparent;
}

#status4evar-progress-bar[s4estyle="true"] > * {
  border: none;
}

#status4evar-progress-bar[s4estyle="true"] > .progress-bar {
  border-right: 1px solid rgba(0,0,0,.2);
}

#status4evar-progress-bar[s4estyle="true"][value="0"] > .progress-bar,
#status4evar-progress-bar[s4estyle="true"][value="100"] > .progress-bar {
  border-right: none;
}

#status4evar-progress-bar:not([s4estyle="true"]):not([collapsed="true"]) {
  background-color: transparent;
  background-image: url("chrome://global/skin/progressmeter/indeterminate.gif");
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -moz-crisp-edges;
}

#status4evar-progress-bar:not([s4estyle="true"]) > .progress-bar {
  background-color: transparent;
}

/*
 * Status bar
 */

#status-bar > .statusbar-resizerpanel {
  display: none !important;
}


/*
 * General
 */

#status4evar-status-text,
#status4evar-progress-bar {
  margin: 0px 3px;
}

/*
 * Download status
 */

#status4evar-download-progress-bar {
  height: 4px;
}

/* Large indicator icon */

#status4evar-download-button #status4evar-download-icon {
  min-width: 24px;
  min-height: 24px;
}

#status4evar-download-button #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-image), 0, 144, 24, 120) center no-repeat;
}
toolbar[brighttext] #status4evar-download-button #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-inverted-image), 0, 144, 24, 120) center no-repeat;
}

#status4evar-download-button:hover #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-image), 24, 144, 48, 120) center no-repeat;
}
toolbar[brighttext] #status4evar-download-button:hover #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-inverted-image), 24, 144, 48, 120) center no-repeat;
}

#status4evar-download-button:hover:active #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-image), 72, 144, 96, 120) center no-repeat;
}
toolbar[brighttext] #status4evar-download-button:hover:active #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-large-inverted-image), 72, 144, 96, 120) center no-repeat;
}

#status4evar-download-button[attention] #status4evar-download-icon {
  background-image: url("chrome://browser/skin/downloads/download-glow-large.png");
}

/* Small indicator icon */

toolbar[iconsize="small"] #status4evar-download-button #status4evar-download-icon {
  min-width: 16px;
  min-height: 16px;
}

toolbar[iconsize="small"] #status4evar-download-button #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-image), 0, 96, 16, 80) center no-repeat;
}
toolbar[iconsize="small"][brighttext] #status4evar-download-button #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-inverted-image), 0, 96, 16, 80) center no-repeat;
}

toolbar[iconsize="small"] #status4evar-download-button:hover #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-image), 16, 96, 32, 80) center no-repeat;
}
toolbar[iconsize="small"][brighttext] #status4evar-download-button:hover #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-inverted-image), 16, 96, 32, 80) center no-repeat;
}

toolbar[iconsize="small"] #status4evar-download-button:hover:active #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-image), 48, 96, 64, 80) center no-repeat;
}
toolbar[iconsize="small"][brighttext] #status4evar-download-button:hover:active #status4evar-download-icon {
  background: -moz-image-rect(var(--toolbarbutton-inverted-image), 48, 96, 64, 80) center no-repeat;
}

toolbar[iconsize="small"] #status4evar-download-button[attention] #status4evar-download-icon {
  background-image: url("chrome://browser/skin/downloads/download-glow.png");
}

toolbar[mode="icons"] #status4evar-download-button[forcelabel="true"] > label {
  margin-inline-start: 5px !important;
}

/*
 * Splitter
 */

splitter.status4evar-status-splitter {
  width: 6px;
  margin: 0px -3px;
}

/*
 * Location bar
 */

#urlbar-progress-alt {
  margin-inline-end: -2px;
}

/*
 * Status bar
 */

#browser-bottombox[s4eboarder="true"] :-moz-any(#status4evar-status-bar, #addon-bar) {
  -moz-appearance: none;
}

#browser-bottombox[s4eboarder="true"] > *:not([hidden="true"]):not([collapsed="true"]) {
  box-shadow: none !important;
  border: none !important;
  border-top: 2px solid !important;
  -moz-border-top-colors: ThreeDShadow ThreeDHighlight !important;
}

#browser-bottombox[s4eboarder="true"] > *:not([hidden="true"]):not([collapsed="true"]) ~ * {
  border: none !important;
}
