#padlock-ib:hover, #padlock-ib-left:hover, #padlock-ub-right:hover, #padlock-sb:hover, #padlock-tab:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px) !important;
}

#padlock-ib:hover:active, #padlock-ib-left:hover:active, #padlock-ub-right:hover:active, #padlock-sb:hover:active, #padlock-tab:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px) !important;
}

#padlock-ib[open=true], #padlock-ib-left[open=true], #padlock-ub-right[open=true], #padlock-sb[open=true], #padlock-tab[open=true] {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

#padlock-ib, #padlock-ib-left, #padlock-ub-right, #padlock-sb, #padlock-tab {
  -moz-image-region: rect(0, 16px, 16px, 0);
}

#padlock-ib[padshow="ib-trans-bg"][level="ev"] {
  list-style-image: url("padlock_mod_ev.png") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="high"] {
  list-style-image: url("padlock_mod_https.png") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="low"],
#padlock-ib[padshow="ib-trans-bg"][level="mixed"] {
  list-style-image: url("padlock_mod_https_mixed.png") !important;
}

#padlock-ib[padshow="ib-trans-bg"][level="broken"] {
  list-style-image: url("padlock_mod_broken.png") !important;
}

#padlock-ib-left[padshow="ib-left"][level="ev"] {
  list-style-image: url("padlock_mod_ev.png") !important;
  padding:2px;
}

#padlock-ib-left[padshow="ib-left"][level="high"] {
  list-style-image: url("padlock_mod_https.png") !important;
  padding:2px;
}

#padlock-ib-left[padshow="ib-left"][level="low"],
#padlock-ib-left[padshow="ib-left"][level="mixed"] {
  list-style-image: url("padlock_mod_https_mixed.png") !important;
  padding:2px;
}

#padlock-ib-left[padshow="ib-left"][level="broken"] {
  list-style-image: url("padlock_mod_broken.png") !important;
  padding:2px;
}

#padlock-ub-right[padshow="ub-right"][level="ev"] {
  list-style-image: url("padlock_mod_ev.png") !important;
}

#padlock-ub-right[padshow="ub-right"][level="high"] {
  list-style-image: url("padlock_mod_https.png") !important;
}

#padlock-ub-right[padshow="ub-right"][level="low"],
#padlock-ub-right[padshow="ub-right"][level="mixed"] {
  list-style-image: url("padlock_mod_https_mixed.png") !important;
}

#padlock-ub-right[padshow="ub-right"][level="broken"] {
  list-style-image: url("padlock_mod_broken.png") !important;
}

#padlock-sb[padshow="statbar"][level="ev"] {
  list-style-image: url("padlock_mod_ev.png") !important;
}

#padlock-sb[padshow="statbar"][level="high"] {
  list-style-image: url("padlock_mod_https.png") !important;
}

#padlock-sb[padshow="statbar"][level="low"],
#padlock-sb[padshow="statbar"][level="mixed"] {
  list-style-image: url("padlock_mod_https_mixed.png") !important;
}

#padlock-sb[padshow="statbar"][level="broken"] {
  list-style-image: url("padlock_mod_broken.png") !important;
}

#padlock-tab[padshow="tabs-bar"][level="ev"] {
  list-style-image: url("padlock_mod_ev.png") !important;
  background-color: transparent;
}

#padlock-tab[padshow="tabs-bar"][level="high"] {
  list-style-image: url("padlock_mod_https.png") !important;
  background-color: transparent;	
}

#padlock-tab[padshow="tabs-bar"][level="low"],
#padlock-tab[padshow="tabs-bar"][level="mixed"] {
  list-style-image: url("padlock_mod_https_mixed.png") !important;
  background-color: transparent;
}

#padlock-tab[padshow="tabs-bar"][level="broken"] {
  list-style-image: url("padlock_mod_broken.png") !important;
  background-color: transparent;
}