/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== messenger.css ==================================================
  == Styles shared throughout the Messenger application.
  ======================================================================= */

@import url("chrome://global/skin/");
@import url("chrome://messenger/content/messenger.css");
@import url("chrome://messenger/skin/shared/messenger.css");

toolbox:-moz-lwtheme {
  border-top-width: 0;
}

#tabmail:not(:-moz-lwtheme) {
  background-color: ActiveCaption;
}

#tabmail:not(:-moz-lwtheme):-moz-window-inactive {
  background-color: InactiveCaption;
}

.menu-iconic > .menu-iconic-left,
.menuitem-iconic > .menu-iconic-left {
  display: -moz-box;
  padding-top: 0;
}

#tabbar-toolbar {
  border: none;
}

#tabbar-toolbar[customizing="true"] {
  min-width: 24px;
}

/* ::::: menubar ::::: */

#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
  margin-bottom: 1px;
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

/* ::::: toolbarbutton ::::: */

.toolbarbutton-1,
.toolbarbutton-menubutton-button {
  padding-top: 5px;
  padding-bottom: 6px;
  padding-inline-start: 4px;
  padding-inline-end: 5px;
}

.toolbarbutton-1:hover:active:not([disabled]),
.toolbarbutton-1[open="true"],
.toolbarbutton-menubutton-button:hover:active:not([disabled]),
.toolbarbutton-menubutton-button[open="true"] {
  padding-top: 6px;
  padding-bottom: 5px;
  padding-inline-start: 5px;
  padding-inline-end: 4px;
}

.toolbarbutton-1[checked="true"] {
  padding-top: 6px !important;
  padding-bottom: 5px !important;
  padding-inline-start: 5px !important;
  padding-inline-end: 4px !important;
}

.toolbarbutton-1 .toolbarbutton-icon,
.formatting-button .toolbarbutton-icon {
  margin-inline-end: 0px;
}

/* Has to be !important to overrule toolkit's dropmarker.css for the
   dropmarker[disabled="true"] case. */
.toolbarbutton-menu-dropmarker {
  padding-inline-start: 3px !important;
}

toolbar[mode="full"] .toolbarbutton-1 {
  min-width: 55px;
}

sidebarheader .toolbarbutton-text:not([value]) {
  display: none;
}

#searchInput,
#IMSearchInput,
.remote-gloda-search {
  -moz-appearance: none;
  min-height: 22px;
  border: 1px solid threedshadow;
  padding-inline-end: 2px;
  padding-inline-start: 2px;
}

#searchInput:-moz-lwtheme:not([focused="true"]),
#IMSearchInput:-moz-lwtheme:not([focused="true"]),
.remote-gloda-search:-moz-lwtheme:not([focused="true"]) {
  opacity: .85;
}

.remote-gloda-search-container {
  padding-top: 6px;
  padding-bottom: 5px;
}


#status-bar:-moz-lwtheme {
  padding-bottom: 1px;
}

#tabmail-buttons > toolbarbutton {
  margin-top: 1px;
  margin-bottom: 1px;
}

treechildren::-moz-tree-cell-text {
  padding-inline-start: 5px;
  padding-bottom: 2px;
}

/* ::::: Notifications ::::: */

notification[value="addon-install-failed"] .messageCloseButton {
  list-style-image: url("chrome://global/skin/icons/close.png");
}

notification[type="critical"] .messageCloseButton:not(:hover):not(:active) {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}

menulist.folderMenuItem > .menulist-label-box > .menulist-label {
  margin-inline-start: 2px !important;
}

menulist.folderMenuItem menu:not(.folderMenuItem) {
  padding-top: 2px;
  padding-bottom: 2px;
}
