/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://messenger/skin/shared/tabmail.css");

/**
 * Tabmail Tabs
 */

#tabpanelcontainer:-moz-lwtheme {
  color: inherit;
}

.tabmail-arrowscrollbox {
  margin-bottom: -1px;
}

/**
 * Tab
 */
#messengerWindow[tabsintitlebar]
.tabmail-tab:not([selected]):not(:-moz-lwtheme) {
  color: CaptionText;
}

#messengerWindow[tabsintitlebar]
.tabmail-tab:not([selected]):not(:-moz-lwtheme):-moz-window-inactive {
  color: InactiveCaptionText;
}

.tabmail-tab[busy],
.tabmail-tab[thinking] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
  -moz-image-region: auto !important;
}

.tabmail-tab[type="glodaSearch"] {
  list-style-image: url("chrome://global/skin/icons/Search-glass.png");
}

.tabmail-tab[selected] > .tab-stack > .tab-content > .tab-text {
  opacity: 1.0 !important;
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-lwtheme-brighttext,
.tabmail-arrowscrollbox > .scrollbutton-down:-moz-lwtheme-brighttext,
.tabs-alltabs-button:-moz-lwtheme-brighttext,
.tabs-closebutton:-moz-lwtheme-brighttext {
  background-color: rgba(0,0,0,.5);
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-lwtheme-darktext,
.tabmail-arrowscrollbox > .scrollbutton-down:-moz-lwtheme-darktext,
.tabs-alltabs-button:-moz-lwtheme-darktext,
.tabs-closebutton:-moz-lwtheme-darktext {
  background-color: rgba(255,255,255,.5);
}

.tabmail-tabs:-moz-lwtheme {
  padding-top: 1px;
  background-color: transparent;
  background-image: none;
}

.tabmail-tab {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

tabpanels {
  -moz-appearance: none;
  background-color: transparent;
}

/* tabmail-tab focus ring */
.tabmail-tab > .tab-stack > .tab-content > .tab-text {
  border: 1px dotted transparent;
}

.tabmail-tab:focus > .tab-stack > .tab-content > .tab-text {
  border: 1px dotted -moz-DialogText;
}

/* Tab DnD indicator */
.tab-drop-indicator {
  list-style-image: url(tabs/dragIndicator.png);
  margin-bottom: -11px;
}

/**
 * close buttons
 */

.tabs-closebutton-box {
  margin-top: 2px;
  margin-bottom: 4px;
}

.tab-close-button > .toolbarbutton-icon {
  margin-inline-end: 0px !important;
  margin-top: 1px;
}

.tab-close-button,
.tabs-closebutton {
  -moz-appearance: none;
  -moz-image-region: rect(0, 16px, 16px, 0);
  border: none;
  cursor: default;
  list-style-image: url("chrome://global/skin/icons/close.png");
}

#tabs-toolbar[brighttext] .tabs-closebutton:not(:hover):not(:active),
#tabs-toolbar[brighttext] .tab-close-button:not(:hover):not([selected="true"]) {
  -moz-image-region: rect(0, 64px, 16px, 48px);
}

@media (min-resolution: 2dppx) {
  .tab-close-button,
  .tabs-closebutton {
    list-style-image: url("chrome://global/skin/icons/close@2x.png");
    -moz-image-region: rect(0, 32px, 32px, 0);
  }

  .tab-close-button:hover,
  .tabs-closebutton:hover {
    -moz-image-region: rect(0, 64px, 32px, 32px);
  }

  .tab-close-button:hover:active,
  .tabs-closebutton:hover:active {
    -moz-image-region: rect(0, 96px, 32px, 64px);
  }
}

.tabs-closebutton-box > .tabs-closebutton {
  padding: 0 2px;
}

.tab-close-button {
  margin-inline-start: 6px;
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  position: relative;
  z-index: 4;
  pointer-events: auto;
}

.tab-close-button:hover,
.tabs-closebutton:hover {
  -moz-image-region: rect(0, 32px, 16px, 16px);
}

.tab-close-button:hover:active,
.tabs-closebutton:hover:active {
  -moz-image-region: rect(0, 48px, 16px, 32px);
}

.tab-close-button:focus,
.tabs-closebutton:focus {
  outline: none !important;
}

/**
 * Tab Scrollbox Arrow Buttons
 */

.tabs-left {
  display: none;
}

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  list-style-image: url("tabs/arrow-left.png");
}

.tabmail-arrowscrollbox > .scrollbutton-up,
.tabmail-arrowscrollbox > stack > .scrollbutton-down {
  -moz-image-region: rect(0px, 11px, 11px, 0px); 
}

.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled="true"]):hover,
.tabmail-arrowscrollbox > stack > .scrollbutton-down:not([disabled="true"]):hover {
  -moz-image-region: rect(0px, 22px, 11px, 11px);
}

.tabmail-arrowscrollbox > .scrollbutton-up[disabled],
.tabmail-arrowscrollbox > stack > .scrollbutton-down[disabled] {
  -moz-image-region: rect(0px, 33px, 11px, 22px);
  opacity: .4;
}

.tabmail-arrowscrollbox > .scrollbutton-up:not([disabled]):hover:active,
.tabmail-arrowscrollbox > stack > .scrollbutton-down:not([disabled]):hover:active {
  -moz-image-region: rect(0px, 44px, 11px, 33px);
}

.tabmail-arrowscrollbox > .scrollbutton-up:-moz-locale-dir(rtl),
.tabmail-arrowscrollbox > stack > .scrollbutton-down:-moz-locale-dir(ltr) {
  transform: scaleX(-1);
}

/**
 * All Tabs Button
 */

.tabs-alltabs-button {
  margin-top: 1px;
  margin-bottom: 1px;
  width: 18px !important;
  height: 23px !important;
  padding-inline-start: 4px !important;
  padding-inline-end: 4px !important;
  padding: 0px;
}

.tabs-alltabs-button > .toolbarbutton-text {
  display: none;
}

.tabs-alltabs-button > .toolbarbutton-icon {
  margin-inline-end: 0;
}

.tabs-alltabs-button > .toolbarbutton-menu-dropmarker {
  margin-inline-end: 3px !important;
  list-style-image: url(chrome://messenger/skin/icons/mainwindow-dropdown-arrow.png);
  -moz-image-region: rect(0, 13px, 11px, 0);
}

/**
 * All Tabs Menupopup
 */

.alltabs-item {
  list-style-image: url("chrome://global/skin/icons/folder-item.png");
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}

.alltabs-item[selected="true"] {
  font-weight: bold;
}

.alltabs-item[busy] {
  list-style-image: url("chrome://global/skin/icons/loading.png") !important;
}
