/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --window-text-color: currentColor;  
}

@media (-moz-windows-compositor) {
  #tabmail-container {
    -moz-appearance: -moz-win-exclude-glass;
  }

  @media (-moz-os-version: windows-win7),
         (-moz-os-version: windows-win8) {
    #messengerWindow {
      -moz-appearance: -moz-win-borderless-glass;
      background-color: transparent;
    }

    /* These should be hidden w/ glass enabled. Windows draws its own buttons. */
    .titlebar-button {
      display: none;
    }

    #messengerWindow[sizemode="maximized"] #titlebar-buttonbox {
      margin-inline-end: 3px;
    }
  }

  #messengerWindow[chromemargin^="0,"][sizemode=normal] #navigation-toolbox {
    margin-top: -7px;
  }

  /* Artificially draw window borders that are covered by lwtheme,
     see bug 591930. Vista/win7 are using different colors than win8 */
  @media (-moz-os-version: windows-win7) {
    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme {
      border-top: 2px solid;
      -moz-border-top-colors: rgb(37, 44, 51) rgba(255, 255, 255, 0.6);
    }

    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme:-moz-window-inactive {
      -moz-border-top-colors: rgb(102, 102, 102) rgba(255, 255, 255, 0.6);
    }

    #messengerWindow[sizemode="normal"]:-moz-lwtheme > #titlebar > #titlebar-content > #appmenu-button-container {
      margin-top: -1px;
    }
  }

  @media (-moz-os-version: windows-win8) {
    #messengerWindow[sizemode="normal"] > #titlebar >
    #titlebar-content:-moz-lwtheme {
      border-top: 1px solid hsla(209, 67%, 12%, 0.35);
    }

    /* Use a light text styling on dark window frames */
    :root[darkwindowframe="true"]:not(:-moz-lwtheme):not(:-moz-window-inactive) {
      --window-text-color: white;
    }
  }

  @media (-moz-os-version: windows-win10) {
    /* Draw XUL caption buttons and background on Win10 */
    @media (-moz-windows-accent-color-applies: 0) {
      /* Default styling for when no accent color is applied */
      #messengerWindow:not(:-moz-window-inactive):not(:-moz-lwtheme) {
        background-color: white;
      }
      
      :root:not(:-moz-window-inactive):not(:-moz-lwtheme) {
        --window-text-color: black;
      }
      
      #titlebar-min:not(:-moz-window-inactive):not(:-moz-lwtheme),
      #minimize-button:not(:-moz-lwtheme) {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize);
      }

      #titlebar-max:not(:-moz-window-inactive):not(:-moz-lwtheme) {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize);
      }

      #messengerWindow[sizemode="maximized"] #titlebar-max:not(:-moz-window-inactive):not(:-moz-lwtheme),
      #restore-button:not(:-moz-lwtheme) {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore);
      }
      
      #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme),
      #close-button:not(:-moz-lwtheme) {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close);
      }

      .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
        background-color: hsla(0, 0%, 0%, .17);
      }

      .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active {
        background-color: hsla(0, 0%, 0%, .27);
        transition: none;
      }
      
      #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover,
      #close-button:not(:-moz-lwtheme):hover {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-highlight);
        background-color: hsla(0, 86%, 49%, 1);
      }

      #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active,
      #close-button:not(:-moz-lwtheme):hover:active	{
        background-color: hsla(0, 60%, 49%, 0.6);
        transition: none;
      }
    }
    
    @media (-moz-windows-accent-color-applies) {
      /* Styling for when an accent color is applied to the titlebar */
      #messengerWindow:not(:-moz-window-inactive):not(:-moz-lwtheme) {
        background-color: -moz-win-accentcolor;
      }
      
      :root:not(:-moz-window-inactive):not(:-moz-lwtheme) {
        --window-text-color: -moz-win-accentcolortext;
      }

      #titlebar-min,
      #minimize-button {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize);
      }

      #titlebar-max {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize);
      }

      #messengerWindow[sizemode="maximized"] #titlebar-max,
      #restore-button {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore);
      }

      #titlebar-close,
      #close-button {
        list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close);
      }
      
      .titlebar-button:hover {
        background-color: hsla(0, 0%, 0%, .17);
      }

      .titlebar-button:hover:active {
        background-color: hsla(0, 0%, 0%, .27);
        transition: none;
      }
      
      @media (-moz-windows-accent-color-is-dark) {
        /* dark accent color */
        #titlebar-min,
        #minimize-button {
          list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize-highlight);
        }

        #titlebar-max {
          list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize-highlight);
        }

        #messengerWindow[sizemode="maximized"] #titlebar-max,
        #restore-button {
          list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore-highlight);
        }

        #titlebar-close {
          list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-highlight);
        }
      
        .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover {
          background-color: hsla(0, 0%, 100%, .17);
        }

        .titlebar-button:not(#titlebar-close):not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active {
          background-color: hsla(0, 0%, 100%, .27);
          transition: none;
        }
      
        #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover,
        #close-button:not(:-moz-lwtheme):hover {
          background-color: hsla(0, 86%, 49%, 1);
        }

        #titlebar-close:not(:-moz-window-inactive):not(:-moz-lwtheme):hover:active,
        #close-button:not(:-moz-lwtheme):hover:active {
          background-color: hsla(0, 60%, 39%, 1);
          transition: none;
        }
      }
    }

    #messengerWindow {
      -moz-appearance: -moz-win-glass;
    }
    
    #messengerWindow:-moz-window-inactive:not(:-moz-lwtheme) {
      background-color: hsl(0, 0%, 95%);
    }

    /* If we don't have [chromemargin], it means the menubar is active; set the
       window background to transparent in that case to match it with the DWM
       color and prevent a drawing delay between title bar and UI region */
    #messengerWindow:not([chromemargin]):not(:-moz-lwtheme) {
      background-color: transparent;
    }

    #titlebar-buttonbox,
    .titlebar-button {
      -moz-appearance: none !important;
    }

    .titlebar-button {
      border: none;
      margin: 0 !important;
      padding: 9px 17px;
      transition: background-color linear 120ms;
    }

    #messengerWindow[sizemode=maximized] .titlebar-button {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .titlebar-button > .toolbarbutton-icon {
      width: 12px;
      height: 12px;
    }

    .titlebar-button:not(:hover) > .toolbarbutton-icon:-moz-window-inactive {
      opacity: 0.5;
    }

    #messengerWindow[chromemargin^="0,"][sizemode=normal] #navigation-toolbox {
      margin-top: -4px;
    }

    #messengerWindow[sizemode="maximized"] #titlebar-close {
      padding-right: 19px;
    }
    
    #titlebar-close:hover,
    #close-button:hover {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-highlight);
      background-color: hsla(0, 86%, 49%, 1);
      transition: background-color linear 160ms;
    }

    #titlebar-close:hover:active,
    #close-button:hover:active {
      background-color: hsla(0, 86%, 49%, 0.6); 
      transition: none;
    }
    
    /* inactive window */

    #titlebar-min:-moz-window-inactive:not(:-moz-lwtheme) {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize-inactive);
    }

    #titlebar-max:-moz-window-inactive:not(:-moz-lwtheme) {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize-inactive);
    }

    #messengerWindow[sizemode="maximized"] #titlebar-max:-moz-window-inactive:not(:-moz-lwtheme) {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore-inactive);
    }

    #titlebar-close:-moz-window-inactive:not(:-moz-lwtheme):not(:hover) {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-inactive);
    }
    
    .titlebar-button:-moz-window-inactive:not(:-moz-lwtheme):hover {
      background-color: hsla(0, 0%, 0%, .17);
    }

    .titlebar-button:-moz-window-inactive:not(:-moz-lwtheme):hover:active {
      background-color: hsla(0, 0%, 0%, .27);
      transition: none;
    }
    
    /* light persona */
    
    .titlebar-button:-moz-lwtheme-darktext:hover,
    #window-controls > toolbarbutton:not(#close-button):-moz-lwtheme-darktext:hover {
      background-color: hsla(0, 0%, 0%, .17);
    }

    .titlebar-button:-moz-lwtheme-darktext:hover:active,
    #window-controls > toolbarbutton:not(#close-button):-moz-lwtheme-darktext:hover:active {
      background-color: hsla(0, 0%, 0%, .27);
      transition: none;
    }
    
    #titlebar-min:-moz-lwtheme-darktext,
    #minimize-button:-moz-lwtheme-darktext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize-outline);
    }

    #titlebar-max:-moz-lwtheme-darktext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize-outline);
    }

    #messengerWindow[sizemode="maximized"]:-moz-lwtheme-darktext #titlebar-max:-moz-lwtheme-darktext,
    #restore-button:-moz-lwtheme-darktext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore-outline);
    }

    #titlebar-close:-moz-lwtheme-darktext,
    #close-button:-moz-lwtheme-darktext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-outline);
    }
    #titlebar-close:hover:-moz-lwtheme-darktext,
    #close-button:hover:-moz-lwtheme-darktext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-outline);
    }
        
    /* dark persona */
    
    .titlebar-button:-moz-lwtheme-brighttext:hover,
    #window-controls > toolbarbutton:not(#close-button):-moz-lwtheme-brighttext:hover {
      background-color: hsla(0, 0%, 100%, .27);
    }

    .titlebar-button:-moz-lwtheme-brighttext:hover:active,
    #window-controls > toolbarbutton:not(#close-button):-moz-lwtheme-brighttext:hover:active {
      background-color: hsla(0, 0%, 100%, .37);
      transition: none;
    }
    
    #titlebar-min:-moz-lwtheme-brighttext,
    #minimize-button:-moz-lwtheme-brighttext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#minimize-outline-inverted);
    }

    #titlebar-max:-moz-lwtheme-brighttext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#maximize-outline-inverted);
    }

    #messengerWindow[sizemode="maximized"]:-moz-lwtheme-brighttext #titlebar-max:-moz-lwtheme-brighttext,
    #restore-button:-moz-lwtheme-brighttext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#restore-outline-inverted);
    }

    #titlebar-close:-moz-lwtheme-brighttext,
    #close-button:-moz-lwtheme-brighttext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-outline-inverted);
    }
    #titlebar-close:hover:-moz-lwtheme-brighttext,
    #close-button:hover:-moz-lwtheme-brighttext {
      list-style-image: url(chrome://messenger/skin/icons/caption-buttons.svg#close-outline-inverted);
    }

    /* the 12px image renders a 10px icon, and the 10px upscaled gets rounded to 12.5, which
     * rounds up to 13px, which makes the icon one pixel too big on 1.25dppx. Fix: */
    @media (min-resolution: 1.20dppx) and (max-resolution: 1.45dppx) {
      .titlebar-button > .toolbarbutton-icon {
        width: 11.5px;
        height: 11.5px;
      }
    }

    /* 175% dpi should result in the same device pixel sizes as 150% dpi. */
    @media (min-resolution: 1.70dppx) and (max-resolution: 1.95dppx) {
      .titlebar-button {
        padding-left: 14.1px;
        padding-right: 14.1px;
      }

      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }

    /* 225% dpi should result in the same device pixel sizes as 200% dpi. */
    @media (min-resolution: 2.20dppx) and (max-resolution: 2.45dppx) {
      .titlebar-button {
        padding-left: 15.3333px;
        padding-right: 15.3333px;
      }

      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }

    /* 275% dpi should result in the same device pixel sizes as 250% dpi. */
    @media (min-resolution: 2.70dppx) and (max-resolution: 2.95dppx) {
      .titlebar-button > .toolbarbutton-icon {
        width: 10.8px;
        height: 10.8px;
      }
    }
  }

  @media (-moz-os-version: windows-win8),
         (-moz-os-version: windows-win10) {
    /* Fade text stylings on window inactivity */
    :root:not(:-moz-lwtheme):-moz-window-inactive {
      --window-text-color: rgba(0, 0, 0, 0.5);
    }
  }

  #messengerWindow[sizemode="normal"] #titlebar-buttonbox:-moz-lwtheme {
    margin-top: -2px;
  }
  
  #messengerWindow[sizemode="maximized"][tabsintitlebar] #mail-menubar > menu:not(:-moz-lwtheme) {
    color: var(--window-text-color);
  }

  #messengerWindow[sizemode="maximized"][tabsintitlebar] #mail-toolbar-menubar2 {
    border: none;
  }

  #messengerWindow[sizemode="maximized"][tabsintitlebar] #navigation-toolbox:not(:-moz-lwtheme) {
    background-color: transparent !important;
    color: var(--window-text-color);
    border-left-style: none !important;
    border-right-style: none !important;
  }
}
