/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* Toolbar */
#placesToolbar {
  padding: 3px;
  -moz-padding-end: 6px;
}

#placesToolbar > toolbarbutton[disabled] > .toolbarbutton-icon {
  opacity: .4;
}

/* unified forward button with keyhole icons */
/*#+++*/
#back-button,
#forward-button {
  -moz-appearance: none;
  padding: 0;
  border: none;
}
/*#+++*/

#back-button,
#forward-button {
  list-style-image: url("chrome://browser/skin/myToolbar.png");
}

#back-button {
/*#---  -moz-image-region: rect(0, 18px, 18px, 0); ---*/
  -moz-image-region: rect(120px, 24px, 144px, 0px); 
}
/*#+++*/
#back-button:not([disabled="true"]):hover {
  -moz-image-region: rect(144px, 24px, 168px, 0px); 
}
#back-button[disabled="true"] {
  -moz-image-region: rect(168px, 24px, 192px, 0px); 
}
#back-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(192px, 24px, 216px, 0px); 
}
/*#+++*/

#forward-button {
/*#---  -moz-image-region: rect(0, 36px, 18px, 18px); ---*/
  -moz-image-region: rect(120px, 48px, 144px, 24px); 
}
/*#+++*/
#forward-button:not([disabled="true"]):hover {
  -moz-image-region: rect(144px, 48px, 168px, 24px); 
}
#forward-button[disabled="true"] {
  -moz-image-region: rect(168px, 48px, 192px, 24px); 
}
#forward-button:not([disabled="true"]):hover:active {
  -moz-image-region: rect(192px, 48px, 216px, 24px); 
}
/*#+++*/

#back-button:-moz-locale-dir(rtl) > .toolbarbutton-icon,
#forward-button:-moz-locale-dir(rtl) > .toolbarbutton-icon {
  transform: scaleX(-1);
}

/* Menu */
#placesMenu {
  -moz-margin-start: 6px;
  -moz-appearance: none;
  border: none;
}

#placesMenu > menu {
  -moz-padding-start: 4px;
  -moz-padding-end: 1px;
  padding-top: 2px;
  padding-bottom: 2px;
  -moz-appearance: toolbarbutton;
  color: -moz-DialogText;
  border: 1px solid transparent;
}

#placesMenu > menu[_moz-menuactive="true"] {
  background-color: transparent;
}

#placesMenu > menu:hover {
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

#placesMenu > menu[open="true"] {
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
  -moz-padding-start: 5px;
  -moz-padding-end: 0px;
  padding-top: 3px;
  padding-bottom: 1px;
}

#placesMenu > menu > .menubar-text {
  -moz-padding-end: 8px;
  background: url(chrome://global/skin/arrow/arrow-dn.gif) right center no-repeat;
}

#placesMenu > menu > .menubar-text:-moz-locale-dir(rtl) {
  background-position: left center;
}

/* organize, view and maintenance buttons icons */
#organizeButton, 
#viewMenu, 
#maintenanceButton {
  list-style-image: url("chrome://browser/skin/places/libraryToolbar.png");
}

/* organize button */
#organizeButton {
  -moz-image-region: rect(0px, 16px, 16px, 0px);
}
#organizeButton:hover,
#organizeButton[open="true"] {
  -moz-image-region: rect(16px, 16px, 32px, 0px);
}

/* view button */
#viewMenu {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
#viewMenu:hover,
#viewMenu[open="true"] {
  -moz-image-region: rect(16px, 32px, 32px, 16px);
}

/* maintenance button */
#maintenanceButton {
  -moz-image-region: rect(0px, 48px, 16px, 32px);
}
#maintenanceButton:hover,
#maintenanceButton[open="true"] {
  -moz-image-region: rect(16px, 48px, 32px, 32px);
}

/* Root View */
#placesView {
  border-top: 1px solid ThreeDDarkShadow;
}

/* Info box */
#detailsDeck {
  border-top: 1px solid ThreeDShadow;
  padding: 5px;
}

#infoBoxExpanderLabel {
  -moz-padding-start: 2px;
}

#searchFilter {
  margin: 0;
}

/**
 * Downloads pane
 */

#clearDownloadsButton > .toolbarbutton-icon {
  display: none;
}

#clearDownloadsButton {
  -moz-padding-start: 9px;
  -moz-padding-end: 9px;
}
