@import url("chrome://global/skin/in-content/common.css");

/* Body and container */
.container {
  min-width: 13em;
  max-width: 52em;
}

.container.restore-chosen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10vh 0;
}

/* Typography */
.title {
  background-image: url("chrome://global/skin/icons/warning-large.png");
  background-position: left -1px;
  background-repeat: no-repeat;
}

.title,
.description {
  padding-inline-start: 6em;
}

.title:dir(rtl) {
  background-position: right -1px;
}

.title-text {
  border-bottom: 1px solid #C1C1C1;
  font-size: inherit;
  padding-bottom: 0.4em;
}

@media (max-width: 675px) {
  body {
    padding: 0 48px;
  }

  .title {
    background-image: none !important;
    padding-inline-start: 0;
    margin-inline-start: 0;
  }

  .title-text {
    padding-top: 0;
  }
  
  .description {
    padding-inline-start: 0;
  }
}

ul, ol {
  margin: 0;
  padding: 0;
  margin-inline-start: 1em;
}

ul > li, ol > li {
  margin-bottom: .5em;
}

ul {
  list-style: disc;
}

/* Buttons */
.button-container {
  margin-top: 1.2em;
}

/* Trees */
.tree-container {
  margin-top: 1.2em;
  flex-grow: 1;
  min-height: 12em;
}

.tree-container > tree {
  height: 100%;
}

tree {
  width: 100%;
}
