/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#tabs-display,
#tabsList {
  background-color: -moz-Dialog;
  border: none;
  margin: 0;
}

#tabsList {
  width: 100%;
}

#headers {
  background: url(chrome://browser/skin/sync-32.png) no-repeat;
  margin: 3em 0;
  width: 80em;
  height: 32px;
  margin-inline-start: 2em;
  margin-inline-end: 2em;
}

#tabsListHeading {
  font-size: 140%;
  font-weight: bold;
  margin-inline-start: 40px;
}

richlistitem {
  margin-inline-end: 2em;
}

richlistitem[selected="true"],
richlistitem:focus {
  outline-style: none;
}

richlistitem[type="tab"] {
  min-height: 3em;
  margin-inline-start: 2em;
  border: 1px solid ThreeDShadow;
  background-color: -moz-Field;
  color: -moz-FieldText;
  padding: 2px 5px;
  width: 44em;
  margin-bottom: 2px;
}

richlistitem[type="tab"][selected="true"] {
  background-color: -moz-MenuHover;
}

richlistitem[type="client"] {
  min-height: 2em;
  margin-inline-start: 2em;
  background-color: transparent;
  color: #000000;
  width: 42em;
  font-weight: bold;
  -moz-user-focus: ignore !important;
}
richlistitem.mobile[type="client"] {
  list-style-image: url("chrome://browser/skin/sync-mobileIcon.png");
}
richlistitem.desktop[type="client"] {
  list-style-image: url("chrome://browser/skin/sync-desktopIcon.png");
}

.title,
.clientName {
  color: #000000;
  font-size: 1.1em;
}

.title[selected="true"],
.url[selected="true"] {
  color: inherit;
}

.url {
  color: -moz-nativehyperlinktext;
  font-size: 0.95em;
}

.tabIcon {
  padding-inline-start: 2px;
  padding-top: 2px;
}
