/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import "chrome://global/skin/";

/* View buttons */
#viewGroup {
  -moz-padding-start: 10px;
}

#viewGroup > radio {
  list-style-image: url("chrome://browser/skin/pageInfo.png");
  -moz-box-orient: vertical;
  -moz-box-align: center;
  -moz-appearance: none;
  margin: 0px 1px 0px 1px;
  padding: 1px 3px 1px 3px;
  min-width: 4.5em;
  border: 1px solid transparent;
}

#viewGroup > radio:hover:not([selected="true"]) {
  -moz-border-top-colors:    ThreeDHighlight;
  -moz-border-right-colors:  ThreeDShadow;
  -moz-border-bottom-colors: ThreeDShadow;
  -moz-border-left-colors:   ThreeDHighlight;
}

#viewGroup > radio[selected="true"] {
  background-color: rgba(255, 255, 255, 0.5);
  -moz-border-top-colors:    ThreeDShadow;
  -moz-border-right-colors:  ThreeDHighlight;
  -moz-border-bottom-colors: ThreeDHighlight;
  -moz-border-left-colors:   ThreeDShadow;
}

#topBar {
  border-bottom: 2px groove ThreeDFace;
  -moz-padding-start: 10px;
  color: -moz-FieldText;
}

#generalTab {
  -moz-image-region: rect(0px, 32px, 32px, 0px)
}

#mediaTab {
  -moz-image-region: rect(0px, 64px, 32px, 32px)
}

#feedTab {
  -moz-image-region: rect(0px, 96px, 32px, 64px)
}

#permTab {
  -moz-image-region: rect(0px, 128px, 32px, 96px)
}

#securityTab {
  -moz-image-region: rect(0px, 160px, 32px, 128px)
}

deck {
  padding: 10px 10px 10px 10px;
}

/* Misc */
tree {
  margin: .5em;
}

.gridSeparator {
  width: .5em;
}

textbox {
  background: transparent !important;
  border: none;
  padding: 0px;
  margin-top: 1px;
  -moz-appearance: none;
}

textbox.header {
  -moz-margin-start: 0;
}

.iframe {
  margin: .5em;
  background: white;
  overflow: auto;
}

.fixedsize {
  height: 8.5em;
}

textbox[disabled] {
  font-style: italic;
}

/* General Tab */
groupbox.collapsable caption .caption-icon { 
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-position: center;
  -moz-margin-start: 2px;
  -moz-margin-end: 2px;
  background-image: url("chrome://global/skin/tree/twisty-open.png");
}

groupbox.collapsable[closed="true"] {
  border: none;
  margin-bottom: 9px;
  -moz-appearance: none;
}

groupbox.collapsable[closed="true"] caption .caption-icon { 
  background-image: url("chrome://global/skin/tree/twisty-clsd.png");
}

groupbox tree { 
  margin: 0 3px;
  border: none;
}

#securityBox description { 
  -moz-margin-start: 10px;
}

#general-security-identity {
  white-space: pre-wrap;
  line-height: 2em;
}

/* Media Tab */
#imagetree {
  min-height: 10em;
  margin-bottom: 0;
}

#mediaSplitter {
  border-style: none;
  background: none;
  height: .8em;
}

#mediaGrid {
  min-height: 9em;
}

#mediaLabelColumn {
  min-width: 10em;
}

#thepreviewimage {
  margin: 1em;
}

treechildren::-moz-tree-cell-text(broken) {
  font-style: italic;
  color: graytext;
}

/* Feeds Tab */
#feedtree {
  margin-bottom: 0px;
}

#feedListbox richlistitem {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted -moz-Dialog;
}

#feedListbox richlistitem[selected="true"] {
  background-color: -moz-Dialog;
  color: -moz-DialogText;
}

#feedListbox {
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
}

.feedTitle { 
  font-weight: bold;
}

/* Permissions Tab */
#permList {
  margin-top: .5em;
  overflow: auto;
  border: 2px solid;
  -moz-border-top-colors: ThreeDShadow ThreeDDarkShadow;
  -moz-border-right-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors: ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors: ThreeDShadow ThreeDDarkShadow;
  background-color: -moz-field;
}

.permission {
  padding-top: 6px;
  padding-bottom: 6px;
  -moz-padding-start: 7px;
  -moz-padding-end: 7px;
  min-height: 25px;
  border-bottom: 1px dotted -moz-Dialog;
}

.permissionLabel {
  font-weight: bold;
}

.permission:hover {
  background-color: -moz-dialog;
}

/* Security Tab */
#securityPanel .caption-icon {
  display: none;
}

#securityPanel .header {
  font-size: 120%;
}
 
#securityPanel .fieldLabel {
  margin: 2px 10px 3px 10px;
}

#securityPanel .fieldValue {
  font-weight: bold;
  margin: 2px 10px 0px 10px;
}
