/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: menubar ::::: */

/* Private browsing mode indicator */
#main-window[privatebrowsingmode=temporary] #toolbar-menubar {
  background-image: url("chrome://browser/skin/privatebrowsing-dark.png");
  background-position: top right;
  background-repeat: no-repeat;
}

#main-window[privatebrowsingmode=temporary] #toolbar-menubar:-moz-locale-dir(rtl) {
  background-position: top left;
}

#main-window[privatebrowsingmode=temporary] #appmenu-button > .button-box > .box-inherit > .button-icon {
  list-style-image: url("chrome://browser/skin/privatebrowsing-light.png");
  width: 20px;
  height: 16px;
}
