/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*
 * The default namespace for this file is XUL. Be sure to prefix rules that
 * are applicable to both XUL and HTML with '*|'.
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

/* Page background */
*|*:root {
  -moz-appearance: none;
  padding: 18px;
  background-repeat: repeat;
  color: -moz-dialogText;
  background-color: -moz-dialog;
  background-image: /* Fade-out texture at the top, and blend with browser tab */
                    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0) 30%),
                    /* Texture */
                    url("chrome://global/skin/inContentUI/background-texture.png");
}

html|html {
  font: message-box;
}


/* Content */
*|*.main-content {
  /* Needed to allow the radius to clip the inner content, see bug 595656 */
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.35);
  background-image: linear-gradient(rgba(255, 255, 255, 0),
                                    rgba(255, 255, 255, 0.75));
  border: 1px solid #C3CEDF;
  border-radius: 5px;
}


colorpicker[type="button"] {
  margin: 1px 5px 2px 5px;
  padding: 3px;
  height: 25px;
}
