/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

notification {
  color: InfoText;
  background-color: InfoBackground;
  text-shadow: none;
  border-top: 1px solid ThreeDShadow;
  border-bottom: 1px solid ThreeDShadow;
}

notificationbox[notificationside="top"] > notification {
  border-top-style: none;
}

notificationbox[notificationside="bottom"] > notification {
  border-bottom-style: none;
}

notification[type="info"] {
  color: -moz-DialogText;
  background-color: -moz-Dialog;
}

notification[type="critical"] {
  color: white;
  background-image: linear-gradient(rgb(212,0,0), rgb(152,0,0));
}

/* Override incorrect styling of notification bars with 'outset' class */
.notification-inner.outset {
  border: none !important;
}

.messageText > .text-link {
  color: inherit !important;
  text-decoration: underline;
}

.messageImage {
  width: 16px;
  height: 16px;
  margin-inline-start: 6px;
  margin-inline-end: 1px;
}

/* Default icons for notifications */

.messageImage[type="info"] {
  list-style-image: url("chrome://global/skin/icons/information-16.png");
}

.messageImage[type="warning"] {
  list-style-image: url("chrome://global/skin/icons/warning-16.png");
}

.messageImage[type="critical"] {
  list-style-image: url("chrome://global/skin/icons/error-16.png");
}

.messageCloseButton {
  -moz-appearance: none;
  padding: 4px 2px;
  border: none !important;
}

.messageCloseButton > .toolbarbutton-icon {
  margin-inline-end: 5px;
}

/* Popup notification */

.popup-notification-body {
  max-width: 25em;
}

.popup-notification-origin:not([value]),
.popup-notification-learnmore-link:not([href]) {
  display: none;
}

.popup-notification-origin {
  margin-bottom: .3em !important;
}

.popup-notification-learnmore-link {
  margin-top: .5em !important;
}

.popup-notification-button-container {
  margin-top: 17px;
}

/*
XXX: apply styles to all themes until bug 509642 is fixed
@media (-moz-windows-default-theme) {
*/
  .popup-notification-menubutton {
    -moz-appearance: none;
    padding: 0;
    border: 3px solid;
    -moz-border-top-colors: transparent ThreeDHighlight ThreeDLightShadow;
    -moz-border-right-colors: transparent ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: transparent ThreeDDarkShadow ThreeDShadow;
    -moz-border-left-colors: transparent ThreeDHighlight ThreeDLightShadow;
    background-color: ThreeDFace;
    color: ButtonText;
  }

  .popup-notification-menubutton:hover:active {
    border-color: rgba(0,0,0,.5);
  }

  .popup-notification-menubutton:not([type="menu-button"]),
  .popup-notification-menubutton > .button-menubutton-button,
  .popup-notification-menubutton > .button-menubutton-dropmarker {
    -moz-appearance: none;
    margin: 0;
    border: none;
  }

  .popup-notification-menubutton > .button-menubutton-button {
    background-color: transparent;
    padding: 1px;
    border-inline-end: none;
  }

  .popup-notification-menubutton:not([type="menu-button"]),
  .popup-notification-menubutton > .button-menubutton-button > .button-box {
    padding-inline-start: 8px;
    padding-inline-end: 5px;
  }

  .popup-notification-menubutton > .button-menubutton-dropmarker {
    padding: 9px 5px 8px;
    width: auto;
    height: auto;
    list-style-image: url("chrome://global/skin/arrow/arrow-dn-sharp.gif");
  }

  .popup-notification-menubutton:-moz-focusring > .button-menubutton-dropmarker {
    outline: 1px dotted ThreeDDarkShadow;
    outline-offset: -3px;
  }

  .popup-notification-menubutton:not([type="menu-button"]):hover:active,
  .popup-notification-menubutton > .button-menubutton-button:hover:active,
  .popup-notification-menubutton > .button-menubutton-dropmarker:hover:active,
  .popup-notification-menubutton[open="true"] > .button-menubutton-dropmarker {
    background-color: rgba(0,0,0,.05);
  }
/*}*/

.popup-notification-closebutton {
  margin-inline-end: -14px;
  margin-top: -10px;
}

.popup-notification-menubutton > .button-menubutton-button[disabled] {
  opacity: 0.5;
}
