/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ===== preferences.css =====================================================
  == Styles used by the XUL prefwindow element.
  ======================================================================= */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* ::::: dialog ::::: */

prefwindow {
  padding: 0px;
}

prefpane {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] > prefpane {
  padding: 0px;
}

.prefWindow-dlgbuttons {
  padding-bottom: 10px;
  padding-inline-start: 8px;
  padding-inline-end: 10px;
}

prefwindow[type="child"] .prefWindow-dlgbuttons {
  padding: 0px;
}

radio[pane] {
  -moz-appearance: none;
  margin: 0px 1px 0px 1px;
  padding: 1px 3px 1px 3px;
  min-width: 4.5em;
  border: 1px solid transparent;
  color: black;
}

.paneSelector {
  border-bottom: 2px groove ThreeDFace;
  margin: 0px;
  padding-inline-start: 10px;
  color: -moz-FieldText;
}

.paneButtonIcon {
  width: 32px;
  height: 32px;
}

radio[pane]:hover:not([selected="true"]) {
  -moz-appearance: none;
  border-color: ThreeDHighlight ThreeDShadow ThreeDShadow ThreeDHighlight;
}

radio[pane][selected="true"] {
  -moz-appearance: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: ThreeDShadow ThreeDHighlight ThreeDHighlight ThreeDShadow;
}
