/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* ::::: titlebar ::::: */

#main-window[sizemode="normal"]:not([privatebrowsingmode=temporary]) > #titlebar {
  -moz-appearance: -moz-window-titlebar;
}

#main-window[sizemode="maximized"] > #titlebar {
  -moz-appearance: -moz-window-titlebar-maximized;
}

#titlebar-buttonbox {
  -moz-appearance: -moz-window-button-box;
}

.titlebar-placeholder[type="appmenu-button"] {
  margin-left: 4px;
}

.titlebar-placeholder[type="caption-buttons"] {
  margin-left: 10px;
}

/* titlebar command buttons */

#titlebar-min {
  -moz-appearance: -moz-window-button-minimize;
}

#titlebar-max {
  -moz-appearance: -moz-window-button-maximize;
}

#main-window[sizemode="maximized"] #titlebar-max {
  -moz-appearance: -moz-window-button-restore;
}

#titlebar-close {
  -moz-appearance: -moz-window-button-close;
}

/* ensure titlebar on privacy windows is of correct size */
#titlebar {
  height: 22px;
}

/* ensure extra titlebar doesn't appear on normal (e.g. non-privacy) windows */
#main-window:not([privatebrowsingmode=temporary]):not(:-moz-lwtheme) > #titlebar > #titlebar-content > #titlebar-buttonbox-container,
#main-window:not([drawintitlebar=true]):not(:-moz-lwtheme) > #titlebar {
  display: none;
}

#titlebar-buttonbox-container {
  margin-left: 7px;
  margin-top: 3px;
}

/* ::::: private browsing titlebar indicator ::::: */

#main-window[privatebrowsingmode=temporary] {
  background-image: url("chrome://browser/skin/privatebrowsing-mask.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-color: moz-mac-chrome-active;
}

@media (min-resolution: 2dppx) {
  #main-window[privatebrowsingmode=temporary] {
    background-image: url("chrome://browser/skin/privatebrowsing-mask@2x.png");
    background-size: 38px;
  }
}

#main-window[privatebrowsingmode=temporary] {
  background-position: top right 40px;
}

#main-window[privatebrowsingmode=temporary][inFullscreen] {
  background-position: top right 10px;
}

#main-window[privatebrowsingmode=temporary]:-moz-locale-dir(rtl) {
  background-position: top left 70px;
}

#main-window[privatebrowsingmode=temporary][inFullscreen]:-moz-locale-dir(rtl) {
  background-position: top left 10px;
}

#main-window[privatebrowsingmode=temporary]:-moz-window-inactive {
  background-color: -moz-mac-chrome-inactive;
}

#main-window[privatebrowsingmode=temporary][inFullscreen] #nav-bar[tabsontop=false] {
  -moz-padding-end: 50px !important;
}

@media (-moz-mac-lion-theme) {
  #main-window[privatebrowsingmode=temporary][inFullscreen] #TabsToolbar[tabsontop=true] {
    -moz-padding-end: 50px;
  }
}

@media not all and (-moz-mac-lion-theme) {
  #main-window[privatebrowsingmode=temporary] {
    background-position: top right 10px;
  }

  #main-window[privatebrowsingmode=temporary][inFullscreen][tabsontop=true] #window-controls {
    -moz-padding-end: 50px;
  }
}
